@import '../bootstrap/variables';
@import '../bootstrap/mixins/gradients';
@import '../app/media-queries';

//
// Variables to change general look
//
// LAYOUT
@content-bg: #f6f6f5;
@aside-bg: #343C4D;
// NAVBAR TOP
@nav-top-bg: @brand-info-dark;
@nav-top-bg-start: @nav-top-bg;
@nav-top-bg-end: @brand-info;
@nav-header-bg: @aside-bg;
@nav-top-item-mobile: #A0A0A0;
@nav-top-item-mobile-active: #343c4d;
@nav-top-item-desktop: #fff;
@nav-top-item-desktop-active: #343c4d;
// SIDEBAR
@sidebar-bg: @aside-bg;
@sidebar-item-color: #D5D7D7;
@sidebar-item-color-active: #289E81;
@sidebar-item-bg-active: #303445;
@sidebar-icon-color: inherits;
@sidebar-icon-color-active: #289e81;
@sidebar-bullet-color: rgba(0, 0, 0, .25);
@sidebar-bullet-color-active: @sidebar-icon-color-active;
@sidebar-heading-color: #919DA8;
@sidebar-label-color: @sidebar-item-color;
// OFFSIDEBAR
@offsidebar-bg: #fff;
@offsidebar-border-color: greyscale(darken(@offsidebar-bg, 20%));
@offsidebar-color: @text-color;
@menu-active-item: #495D6C;
@input-active: #37bc9b;
/* ========================================================================
   Component: layout
 ========================================================================== */

body, .wrapper > section {
    background-color: @content-bg;
}

.sidebar {
    margin-right: auto;
    padding-bottom: 60px;
    overflow-y: auto;
}

.panel.panel-default {
    border-top-width: 1px;
    border-bottom-width: 2px;
    padding: 20px;
}

.wrapper > .aside {
    padding-top: 0px;
    margin-top: 53px;
    z-index: 1111;
    padding-top: 10px;
    background-color: @aside-bg;
}

.content-wrapper > h3 {
    border-bottom: none;
    background: transparent;
    margin-bottom: 5px;
    margin-top: -15px;
}

.progress {
    height: 8px;
}

.switch input:checked + span {
    background-color: @input-active;
    border-color: @input-active;
}

.btn-success {
    background-color: #289e81;
    &:hover, &:focus, &[disabled] {
        background-color: #2E9078;
        border-color: #2E9078;
    }
}

.navbar-brand {
    img {
        max-height: 45px;
        margin: 0 auto !important;
    }
}

.app-logo-login {
    max-height: 100px;
    margin: 0 auto;
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */

// Navbar Mobile General styles
// ------------------------------
.topnavbar {
    background-color: #fff;
    .navbar-header {
        background-color: @nav-header-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
        .brand-logo {
            img {
                margin: 0;
                margin-left: 5px;
                opacity: 0.9;
            }
        }
        @media @tablet {
            background-image: none;
        }
    }
    // Navbar link active style
    .navbar-nav > .active > a, .navbar-nav > .open > a {
        &, &:hover, &:focus {
            background-color: transparent;
        }
    }
    // the button to toggle search
    .navbar-nav > li > [data-toggle='navbar-search'] {
        color: @nav-top-item-desktop;
    }
    .nav-wrapper {
        background-color: @nav-top-bg;
        box-shadow: none;
        border-bottom: 1px solid #cacac9;
        background-image: none;
        #gradient.horizontal(#fff, #fff);
        .nav.navbar-nav {
            padding-left: 7px;
        }
        .navbar-nav > li > a, .navbar-nav > .open > a {
            color: @nav-top-item-mobile;
            &:hover, &:focus {
                color: @nav-top-item-mobile-active;
            }
        }
    }
}

.c-checkbox {
    &:hover {
        span {
            border-color: @input-active;
        }
    }
    input[type=checkbox]:checked + span {
        border-color: @input-active;
        background-color: @input-active;
    }
}

.mb-boxes {
    .panel-body {
        padding: 0;
        .nav > li {
            &.header {
                padding-top: 14px !important;
                padding-bottom: 12px !important;
                padding-left: 16px !important;
                border-bottom: 1px solid #ddd;
            }
            a {
                border-radius: 0px;
            }
            &.active > a {
                background-color: @menu-active-item !important;
            }
        }
    }
}

.pagination > .active > a {
    background-color: @menu-active-item;
    border-color: @menu-active-item;
}

// Navbar Desktop styles
// ------------------------------
@media @tablet {
    // Navbar top styles
    .topnavbar {
        background-color: @nav-top-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
        .navbar-nav > .open > a {
            &, &:hover, &:focus {
                box-shadow: 0 -3px 0 rgba(255, 255, 255, .5) inset;
            }
        }
        .navbar-nav > li > a, .navbar-nav > .open > a {
            color: @nav-top-item-desktop;
            &:hover, &:focus {
                color: @nav-top-item-mobile-active;
            }
        }
    }

    // .topnavbar
}

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.c-checkbox input[type=checkbox]:disabled + span {
    border-color: #37bc9b !important;
    background-color: #37bc9b !important;
}

.sidebar {
    background-color: @sidebar-bg;
    .nav-heading {
        color: @sidebar-heading-color;
    }
    // Items
    .nav {
        > li {
            > a, > .nav-item {
                color: @sidebar-item-color;
                &:focus, &:hover {
                    color: #fff;
                }
                // Item icon
                > em {
                    color: @sidebar-icon-color;
                }
            }
            // Active item state
            &.active, &.open {
                &, > a, .nav {
                    background-color: @sidebar-item-bg-active;
                    color: @sidebar-item-color-active;
                }
                > a > em {
                    color: @sidebar-icon-color-active;
                }
            }
        }
    }
}

.sidebar-subnav {
    background-color: @sidebar-bg;
    > .sidebar-subnav-header {
        color: @sidebar-item-color;
    }
    > li {
        > a, > .nav-item {
            color: @sidebar-item-color;
            &:focus, &:hover {
                color: @sidebar-item-color-active;
            }
        }
        &.active {
            > a, > .nav-item {
                color: @sidebar-icon-color-active;
                &:after {
                    border-color: @sidebar-bullet-color-active;
                    background-color: @sidebar-bullet-color-active;
                }
            }
        }
    }
    // li
}

.panel {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
    .loading {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        .wait {
            color: #2c2c2c;
            font-size: 16px;
            padding-top: 100px;
        }
    }
}

i {
    line-height: inherit !important;
}

/* ========================================================================
   Component: offsidebar
 ========================================================================== */

.offsidebar {
    border-left: 1px solid @offsidebar-border-color;
    background-color: @offsidebar-bg;
    color: @offsidebar-color;
}

.widget {
    transition: all 0.3s;
}

.widget:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

