/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #f6f6f5;
}
.sidebar {
  margin-right: auto;
  padding-bottom: 60px;
  overflow-y: auto;
}
.panel.panel-default {
  border-top-width: 1px;
  border-bottom-width: 2px;
  padding: 20px;
}
.wrapper > .aside {
  padding-top: 0px;
  margin-top: 53px;
  z-index: 1111;
  padding-top: 10px;
  background-color: #343c4d;
}
.content-wrapper > h3 {
  border-bottom: none;
  background: transparent;
  margin-bottom: 5px;
  margin-top: -15px;
}
.progress {
  height: 8px;
}
.switch input:checked + span {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-success {
  background-color: #289e81;
}
.btn-success:hover,
.btn-success:focus,
.btn-success[disabled] {
  background-color: #2E9078;
  border-color: #2E9078;
}
.navbar-brand img {
  max-height: 45px;
  margin: 0 auto !important;
}
.app-logo-login {
  max-height: 100px;
  margin: 0 auto;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff;
}
.topnavbar .navbar-header {
  background-color: #343c4d;
  background-image: -webkit-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: -o-linear-gradient(left, #1797be 0%, #23b7e5 100%);
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1797be', endColorstr='#ff23b7e5', GradientType=1);
}
.topnavbar .navbar-header .brand-logo img {
  margin: 0;
  margin-left: 5px;
  opacity: 0.9;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #ffffff;
}
.topnavbar .nav-wrapper {
  background-color: #1797be;
  box-shadow: none;
  border-bottom: 1px solid #cacac9;
  background-image: none;
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
}
.topnavbar .nav-wrapper .nav.navbar-nav {
  padding-left: 7px;
}
.topnavbar .nav-wrapper .navbar-nav > li > a,
.topnavbar .nav-wrapper .navbar-nav > .open > a {
  color: #a0a0a0;
}
.topnavbar .nav-wrapper .navbar-nav > li > a:hover,
.topnavbar .nav-wrapper .navbar-nav > .open > a:hover,
.topnavbar .nav-wrapper .navbar-nav > li > a:focus,
.topnavbar .nav-wrapper .navbar-nav > .open > a:focus {
  color: #343c4d;
}
.c-checkbox:hover span {
  border-color: #37bc9b;
}
.c-checkbox input[type=checkbox]:checked + span {
  border-color: #37bc9b;
  background-color: #37bc9b;
}
.mb-boxes .panel-body {
  padding: 0;
}
.mb-boxes .panel-body .nav > li.header {
  padding-top: 14px !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  border-bottom: 1px solid #ddd;
}
.mb-boxes .panel-body .nav > li a {
  border-radius: 0px;
}
.mb-boxes .panel-body .nav > li.active > a {
  background-color: #495d6c !important;
}
.pagination > .active > a {
  background-color: #495d6c;
  border-color: #495d6c;
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #1797be;
    background-image: -webkit-linear-gradient(left, #1797be 0%, #23b7e5 100%);
    background-image: -o-linear-gradient(left, #1797be 0%, #23b7e5 100%);
    background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1797be', endColorstr='#ff23b7e5', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #ffffff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #343c4d;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.c-checkbox input[type=checkbox]:disabled + span {
  border-color: #37bc9b !important;
  background-color: #37bc9b !important;
}
.sidebar {
  background-color: #343c4d;
}
.sidebar .nav-heading {
  color: #919da8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #d5d7d7;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #fff;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: #303445;
  color: #289e81;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #289e81;
}
.sidebar-subnav {
  background-color: #343c4d;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #d5d7d7;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #d5d7d7;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #289e81;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #289e81;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #289e81;
  background-color: #289e81;
}
.panel {
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.overlay .loading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.overlay .loading .wait {
  color: #2c2c2c;
  font-size: 16px;
  padding-top: 100px;
}
i {
  line-height: inherit !important;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
  color: #515253;
}
.widget {
  transition: all 0.3s;
}
.widget:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
