<h3>Alarm Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a alarm</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.alarmForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Trip</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="trip.id as trip.name for trip in vm.trips" ng-model="vm.alarm.tripId" class="form-control">
                        <option value="">Select Trip</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.alarm.trip.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Customer</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="customer.id as customer.name for customer in vm.customers" ng-model="vm.alarm.customerId" class="form-control">
                        <option value="">Select Customer</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.alarm.customer ? vm.alarm.customer.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>Station</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.name for station in vm.stations" ng-model="vm.alarm.stationCode" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.alarm.stationCode}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.alarms-edit({id:vm.alarm.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.alarms" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>