<h3>Customer Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a customer</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.customerForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" name="name" type="text" required="required" ng-model="vm.customer.name" placeholder="Customer Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.customer.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Age</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.customer.age" placeholder="Customer Age" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.customer.age}}</span>
                  </div>
                  <div class="form-group">
                     <label>Sex</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.customer.sex" class="form-control">
                        <option value="">Select customer sex</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.customer.sex}}</span>
                  </div>
                  <div class="form-group">
                     <label>Email</label>
                     <input ng-if="vm.action == 'upsert'" type="email" required="required" ng-model="vm.customer.email" placeholder="Customer Email" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.customer.email}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Phone</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" data-parsley-maxlength="10" data-parsley-minlength="10" ng-model="vm.customer.phone" placeholder="Customer Phone" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.customer.phone}}</span>
                  </div>
                  <div class="form-group">
                     <label>City</label>
                     <select ng-if="vm.action == 'upsert'" ng-options="c.id as c.name for c in vm.cities" ng-model="vm.cityId" class="form-control">
                        <option value="">Select customer city</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.customer.city ? vm.customer.city.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>State</label>
                     <select ng-if="vm.action == 'upsert'" ng-options="state.id as state.name for state in vm.states" ng-model="vm.stateId" class="form-control">
                        <option value="">Select customer state</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.customer.state ? vm.customer.state.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>Login Type</label>
                     <select ng-if="vm.action == 'upsert'" name="loginType" id="loginType" ng-model="vm.customer.loginType" data-parsley-required="true" placeholder="Select customer Login Type" class="form-control">
                        <option value="">Select login type</option>
                        <option value="fb">fb</option>
                        <option value="twitter">twitter</option>
                        <option value="google+">google+</option>
                        <option value="normal">normal</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.customer.loginType}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Address</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.customer.address" placeholder="Customer Address" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.customer.address}}</span>
                  </div>
                  <div class="form-group">
                     <label>Pin Code</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.customer.pinCode" placeholder="Customer Pin Code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.customer.pinCode}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button>&nbsp<a ng-if="vm.action=='view'" ui-sref="app.customers-edit({id:vm.customer.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp<a ui-sref="app.customers" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>