<h3>Dashboard
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<!-- START widgets box-->
<div class="row">
   <div class="col-md-2">
      <div class="panel widget bg-primary">
         <div ng-click="vm.go('app.customers')" class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="icon-users fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.customers || 0" class="h2 mt0"></div>
               <div class="text-uppercase">Customers</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2">
      <div class="panel widget bg-warning">
         <div ng-click="vm.go('app.orders')" class="row row-table">
            <div class="col-xs-4 text-center bg-warning-dark pv-lg">
               <em class="fa fa-bell fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.orders || 0" class="h2 mt0"></div>
               <div class="text-uppercase">Food orders</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2">
      <div class="panel widget bg-info">
         <div ng-click="vm.go('app.cabs')" class="row row-table">
            <div class="col-xs-4 text-center bg-info-dark pv-lg">
               <em class="fa fa-cab fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.cabs || 0" class="h2 mt0"></div>
               <div class="text-uppercase">Cabs</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2">
      <div class="panel widget bg-gray">
         <div ng-click="vm.go('app.hotels')" class="row row-table">
            <div class="col-xs-4 text-center bg-gray-dark pv-lg">
               <em class="fa fa-bed fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.hotels||0" class="h2 mt0"></div>
               <div class="text-uppercase">Hotels</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2">
      <div class="panel widget bg-green">
         <div ng-click="vm.go('app.restaurants')" class="row row-table">
            <div class="col-xs-4 text-center bg-green-dark pv-lg">
               <em class="fa fa-glass fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.restaurants||0" class="h2 mt0"></div>
               <div class="text-uppercase">Restaurants</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2">
      <div class="panel widget bg-purple">
         <div ng-click="vm.go('app.pnrs')" class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="fa fa-road fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.pnrs||0" class="h2 mt0"></div>
               <div class="text-uppercase">PNRs</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-2 col-sm-12">
      <!-- START date widget-->
      <div class="panel widget">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
               <now format="MMMM" class="text-sm"></now>
               <br/>
               <now format="d" class="h2 mt0"></now>
            </div>
            <div class="col-xs-8 pv-lg">
               <now format="EEEE" class="text-uppercase"></now>
               <br/>
               <now format="h:mm" class="h2 mt0"></now>
               <now format="a" class="text-muted text-sm"></now>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.states')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="icon-flag fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.states||0" class="h2 mt0"></div>
               <div class="text-uppercase">States</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.cities')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="icon-home fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.cities||0" class="h2 mt0"></div>
               <div class="text-uppercase">Cities</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.trains')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-train fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.trains||0" class="h2 mt0"></div>
               <div class="text-uppercase">Trains</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.stations')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-anchor fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.stations||0" class="h2 mt0"></div>
               <div class="text-uppercase">Stations</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.stationCategories')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-folder-open-o fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.stationCategories||0" class="h2 mt0"></div>
               <div class="text-uppercase">Categories</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.trips')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-road fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.trips||0" class="h2 mt0"></div>
               <div class="text-uppercase">Trips</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.alarms')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-clock-o fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.alarms || 0" class="h2 mt0"></div>
               <div class="text-uppercase">Alarms</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.trainRatings')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-star fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.trainRatings||0" class="h2 mt0"></div>
               <div class="text-uppercase">Ratings</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.items')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-road fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.items||0" class="h2 mt0"></div>
               <div class="text-uppercase">Items</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.categories')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-list fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.itemCategories||0" class="h2 mt0"></div>
               <div class="text-uppercase">Item categories</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-sm-12">
      <div class="panel widget">
         <div ng-click="vm.go('app.train-routes')" class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="fa fa-road fa-2x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div ng-bind-html="vm.routes||0" class="h2 mt0"></div>
               <div class="text-uppercase">Routes</div>
            </div>
         </div>
      </div>
   </div>
</div>