<div class="row jobs">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <h4>Pending Jobs</h4>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table id="pending-jobs" class="datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th class="sort-numeric">Id</th>
                     <th>Job name</th>
                     <th class="sort-alpha">Agent Id</th>
                     <th>Created</th>
                     <th>Started</th>
                     <th>Policy type</th>
                     <th>Quote type</th>
                     <th>State</th>
                     <th># Quotes</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="job in vm.jobs">
                     <td>{{job.id}}</td>
                     <td>{{job.jobname}}</td>
                     <td>{{job.agentid}}</td>
                     <td>{{job.dateCreated | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{job.dateStarted | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{job.policyName}}</td>
                     <td>{{job.quoteTypeName}}</td>
                     <td>{{job.state}}</td>
                     <td>{{job.leadsCount}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>