<div class="row">
   <div class="col-md-12">
      <div class="toolbar btn-group btn-group-justified">
         <a ng-click="vm.export()" ng-disabled="!vm.selectedAny() || vm.exporting" class="btn btn-default">
            <span ng-hide="vm.exporting"><i class="fa fa-download"></i>&nbsp; Export</span>
            <span ng-show="vm.exporting" class="exporting">
               <span us-spinner="{radius:3, width:1, length: 5}"></span>
               <span class="btn-msg">Exporting..</span>
            </span>
         </a>
         <a ng-click="vm.scrub()" class="btn btn-default"> <i class="fa fa-play"></i>&nbsp;Scrub</a>
         <a ng-click="vm.print()" ng-disabled="!vm.selectedAny()" class="btn btn-default"> <i class="fa fa-print"></i>&nbsp;Print</a><a ng-click="vm.requote()" ng-disabled="!vm.selectedAny()" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;ReQuote</a>
         <a ng-click="vm.delete()" ng-disabled="!vm.selectedAny()" class="btn btn-default"><i class="fa fa-trash"></i>&nbsp;Move to Trash</a><a ng-click="vm.interactions()" ng-disabled="!vm.selectedAny()" class="btn btn-default"><i class="fa fa-cloud"></i>&nbsp;Interactions </a>
      </div>
   </div>
</div>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <h4>Completed Jobs</h4>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table id="completed-jobs" class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th>
                        <div class="checkbox c-checkbox">
                           <label>
                              <input type="checkbox" ng-model="vm.allSelected" ng-click="vm.selectAll()" checked="" value="" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </th>
                     <th class="sort-numeric">Id</th>
                     <th class="sort-alpha">Job name</th>
                     <th class="sort-alpha">Agent Id</th>
                     <th>Created</th>
                     <th>Started</th>
                     <th>Finished</th>
                     <th>Policy type</th>
                     <th>Quote type</th>
                     <th>State</th>
                     <th>Quotes #</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="job in vm.jobs" ng-class="'row' + $index">
                     <td class="checkbox-td">
                        <div class="checkbox c-checkbox">
                           <label>
                              <input type="checkbox" ng-model="job.selected" checked="" value="" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{job.id}}</td>
                     <td>{{job.jobname}}</td>
                     <td>{{job.agentid}}</td>
                     <td>{{job.dateCreated | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{job.dateStarted | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{job.dateFinished | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{job.policyName}}</td>
                     <td>{{job.quoteTypeName}}</td>
                     <td>{{job.state}}</td>
                     <td>{{job.leadsCount}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>