<div class="row new-quote-home">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3>Create New Home Quote Job</h3>
         </div>
         <div class="panel-body">
            <h4 ng-show="vm.noSettings" class="needSettings">In order to create a quote job you need to fill<a ui-sref="app.quote-engine.settings.home">&nbsp;default quote settings</a>&nbsp;first.</h4>
            <h4 ng-show="vm.noAgencies" class="needAgency">In order to create a quote job you need to fill<a ui-sref="app.quote-engine.settings.agency">&nbsp;agency settings</a>&nbsp;first.</h4>
            <div ng-hide="vm.noSettings || vm.noAgencies" class="form">
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="row">
                           <label class="col-sm-12 control-label">Job name</label>
                           <div class="col-sm-12">
                              <input type="text" ng-model="vm.jobName" placeholder="Enter job name" class="form-control" />
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="row">
                           <label class="col-sm-12 control-label">Select agency</label>
                           <div class="col-sm-12">
                              <select ng-model="vm.agency" ng-options="agency.id as agency.agencyName||agenyc.id for agency in vm.agencies" class="form-control"></select>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row upload">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="form-group">
                              <div class="col-sm-12">
                                 <div id="upload-drop" class="box-placeholder text-center">
                                    <p>
                                       <em class="fa fa-cloud-upload fa-2x"></em>
                                       <div ng-hide="vm.file || vm.parseError" class="no-file">To import leads upload a csv file. Drop it here or
                                          <div class="btn-link form-file">select one.
                                             <input type="file" name="upfile" class="upload-select" />
                                          </div>
                                       </div>
                                       <div ng-show="vm.parseError" class="parse-error">
                                          <div class="message">File parse error. Please make sure you select a valid<b>csv</b>&nbsp;file.</div>
                                          <div class="btn-link form-file">Selecting another file
                                             <input type="file" name="upfile" class="upload-select" />
                                          </div>
                                       </div>
                                       <div ng-show="vm.file &amp;&amp; !vm.parseError" class="file-loaded">Parsing file..<b ng-bind-html="vm.file.name"></b>
                                       </div>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div ng-show="vm.headers" class="row headers-map">
                     <div class="col-md-12">
                        <h4 class="step-header">Map headers from csv file to Insurance engine headers</h4>
                        <row>
                           <div class="col-md-5 text-right">
                              <h4 class="subheader">CSV file headers</h4>
                           </div>
                           <div class="col-md-1 equals"></div>
                           <div class="col-md-5 text-left">
                              <h4 class="subheader">System headers</h4>
                           </div>
                        </row>
                        <div class="form form-horizontal">
                           <div ng-repeat="header in vm.headers" class="form-group">
                              <label ng-bind-html="header.originalName" class="col-md-5 control-label"></label>
                              <span class="equals col-md-1"><i class="fa fa-arrows-h"></i>
                              </span>
                              <div class="col-md-6">
                                 <select ng-options="s.dbName as s.displayName for s in vm.getLeadFields(header.mappedName)" ng-model="header.mappedName" class="form-control input-md"></select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div ng-show="vm.notFoundHeaders.length || vm.phonesInvalid" class="row">
                     <div class="col-md-12">
                        <div class="alert alert-danger bg-danger-light">Save failed.
                           <div ng-show="vm.notFoundHeaders.length">Following fields are required for quoting but not found in parsed file:
                              <ul>
                                 <li ng-repeat="requiredFieldName in vm.notFoundHeaders">
                                    <span ng-bind-html="requiredFieldName"></span>
                                 </li>
                              </ul>
                           </div>
                           <div ng-show="vm.phonesInvalid">Phones numbers from the chosen file do not match the type you specified.</div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <a ng-click="vm.save()" ng-disabled="!vm.fileParsed" class="btn btn-green pull-right">
                           <span ng-hide="vm.saving"><i class="fa fa-check"></i>&nbsp;Save</span>
                           <span ng-show="vm.saving">
                              <span us-spinner="{radius:3, width:1, color:'#fff', speed:1, length: 5}"></span>&nbsp;Saving...</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>