<h3>PNR Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a pnr</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.pnrForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>SNo</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" required="required" ng-model="vm.pnr.sNo" placeholder="PNR SNo" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.sNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>PNR</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" ng-model="vm.pnr.pnr" placeholder="PNR " class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.pnr}}</span>
                  </div>
                  <div class="form-group">
                     <label>Customer</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="customer.id as customer.name for customer in vm.customers" ng-model="vm.customerId" class="form-control">
                        <option value="">Select customer</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.pnr.customer ? vm.pnr.customer.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>Train</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="train.number as train.number for train in vm.trains" ng-model="vm.pnr.trainNumber" class="form-control">
                        <option value="">Select train</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.pnr.trainNumber}}</span>
                  </div>
                  <div class="form-group">
                     <label>Starting station</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.id as station.code for station in vm.stations" ng-model="vm.startStationId" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.pnr.startingStation ? vm.pnr.startingStation.name : ''}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>On PNR Start time</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.pnr.onPnrStartTime" placeholder="On PNR Start time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.onPnrStartTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Start time</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.pnr.startTime" placeholder="Start time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.startTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Start Date (mm/dd/yyy)</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99/99/9999'" type="text" ng-model="vm.pnr.startDate" placeholder="Start Date" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.startDate}}</span>
                  </div>
                  <div class="form-group">
                     <label>Start Platform No</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.pnr.startPlatformNo" placeholder="Start Platform No" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.startPlatformNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>End station</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.id as station.code for station in vm.stations" ng-model="vm.endStationId" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.pnr.endStation ? vm.pnr.endStation.name : ''}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>On PNR End time</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.pnr.onPnrEndTime" placeholder="On PNR End time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.onPnrEndTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>End time</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.pnr.endTime" placeholder="End time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.endTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>End Date (mm/dd/yyy)</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99/99/9999'" type="text" ng-model="vm.pnr.endDate" placeholder="End Date" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.endDate}}</span>
                  </div>
                  <div class="form-group">
                     <label>End Platform No</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.pnr.endPlatformNo" placeholder="End Platform No" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.endPlatformNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>Booking Status</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.pnr.bookingStatus" placeholder="Booking status" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.bookingStatus}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Number of passengers</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" required="required" ng-model="vm.pnr.passengersCount" placeholder="Number of passengers" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.passengersCount}}</span>
                  </div>
                  <div class="form-group">
                     <label>Booking Class</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.pnr.bookingClass" placeholder="Booking Class" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.bookingClass}}</span>
                  </div>
                  <div class="form-group">
                     <label>Booking Quota</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.pnr.bookingQuota" placeholder="Booking Quota" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.bookingQuota}}</span>
                  </div>
                  <div class="form-group">
                     <label>Fare</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.pnr.fare" placeholder="Fare" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.fare}}</span>
                  </div>
                  <div class="form-group">
                     <label>Current Booking Status</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.pnr.currentBookingStatus" placeholder="Current Booking status" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.pnr.currentBookingStatus}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.pnrs-edit({id:vm.pnr.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.pnrs" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>