<h3>PNRs List
   <small>search and filter pnrs</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:3, hwaccel: true, length: 13, color:'#fff'}"></span>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.pnrs-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="pnrs-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>SNo</th>
                     <th>PNR</th>
                     <th>Customer</th>
                     <th>Train #</th>
                     <th>Starting Station</th>
                     <th>End Station</th>
                     <th># of Passengers</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter SNo" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter PNR" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Customer" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Train #" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Starting Station" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter End station" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Passengers count" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="pnr in vm.pnrs" ng-class="pnr.id">
                     <td>{{pnr.sNo}}</td>
                     <td>{{pnr.pnr}}</td>
                     <td>{{pnr.customer.name}}</td>
                     <td>{{pnr.trainNumber}}</td>
                     <td>{{pnr.startingStation ? pnr.startingStation.name : ''}}</td>
                     <td>{{pnr.endStation ? pnr.endStation.name : ''}}</td>
                     <td>{{pnr.passengersCount}}</td>
                     <td>{{pnr.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{pnr.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.pnrs-view({id:pnr.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp<a ui-sref="app.pnrs-edit({id:pnr.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp<a ng-click="vm.delete(pnr.id)"
                        class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>