<!-- START Mails-->
<div class="panel panel-default">
   <div class="panel-body">
      <!-- START row-->
      <div class="row">
         <div class="col-lg-6 col-md-6 grow start-new-quote">
            <!-- START panel-->
            <a href="#">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <div class="row">
                        <div class="col-xs-3">
                           <em class="fa fa-automobile fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                           <div class="text-lg">6</div>
                           <p class="m0">Auto Quote</p>
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                     <span class="pull-left">Begin New Quote</span>
                     <span class="pull-right">
                        <em class="fa fa-plus"></em>
                     </span>
                  </div>
               </div>
               <!-- END panel-->
            </a>
         </div>
         <div class="col-lg-6 col-md-6 grow start-new-quote">
            <!-- START panel-->
            <a ui-sref="app.quote-engine.new-home">
               <div class="panel panel-green">
                  <div class="panel-heading">
                     <div class="row">
                        <div class="col-xs-3">
                           <em class="fa fa-home fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                           <div class="text-lg">5</div>
                           <h4 class="m0">Home Quote</h4>
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                     <span class="pull-left">Begin New Quote</span>
                     <span class="pull-right">
                        <em class="fa fa-plus"></em>
                     </span>
                  </div>
               </div>
            </a>
            <!-- END panel-->
         </div>
         <div class="col-lg-6 col-md-6 grow start-new-quote">
            <!-- START panel-->
            <a href="#">
               <div class="panel panel-warning">
                  <div class="panel-heading">
                     <div class="row">
                        <div class="col-xs-3">
                           <em class="fa fa-building-o fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                           <div class="text-lg">4</div>
                           <p class="m0">Condo Quote</p>
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                     <span class="pull-left">Begin New Quote</span>
                     <span class="pull-right">
                        <em class="fa fa-plus"></em>
                     </span>
                  </div>
               </div>
            </a>
            <!-- END panel-->
         </div>
         <div class="col-lg-6 col-md-6 grow start-new-quote">
            <!-- START panel-->
            <a href="#">
               <div class="panel panel-danger">
                  <div class="panel-heading">
                     <div class="row">
                        <div class="col-xs-3">
                           <em class="fa fa-users fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                           <div class="text-lg">3</div>
                           <p class="m0">Life Quote</p>
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                     <span class="pull-left">Begin New Quote</span>
                     <span class="pull-right">
                        <em class="fa fa-plus"></em>
                     </span>
                  </div>
               </div>
            </a>
            <!-- END panel-->
         </div>
      </div>
      <!-- END row    -->
   </div>
</div>