<div class="panel panel-default">
   <div class="panel-body home-settings">
      <button type="submit" ng-click="vm.saveQuote()" ng-disabled="vm.saving" class="btn btn-md btn-green save pull-right"><i class="fa fa-check"></i>
         <span ng-hide="vm.saving">Save</span>
         <span ng-show="vm.saving">Saving...</span>
      </button>
      <tabset>
         <tab heading="Discounts">
            <div class="clearfix">
               <div class="col-lg-4">
                  <h3 class="text-center">Discounts Settings</h3>
                  <br/>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-9 control-label text-right">Enable Multi-Line Discount for Home &amp; Auto</label>
                        <div class="col-sm-3">
                           <label class="switch switch-lg center-block">
                              <input type="checkbox" checked="checked" name="household.supportingPolicyBean.supportingPolicyAuto" class="text-center center-block" />
                              <span></span>
                           </label>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-9 control-label text-right">Full Pay Discount</label>
                        <div class="col-sm-3">
                           <label class="switch switch-lg center-block">
                              <input type="checkbox" checked="checked" name="method" id="btn:removeEasyPayFull" class="center-block" />
                              <span></span>
                           </label>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-9 control-label text-right">eBill Enrollment</label>
                        <div class="col-sm-3">
                           <label class="switch switch-lg center-block">
                              <input type="checkbox" checked="checked" name="method" id="lightbutton190" class="center-block" />
                              <span></span>
                           </label>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div method="get" class="form-group">
                        <label class="col-sm-12 control-label text-center">Protective Devices</label>
                        <div class="col-sm-12">
                           <select multiple="" chosen="" ng-options="s for s in vm.protectiveDevices" class="chosen-select input-md"></select>
                           <span class="help-block m-b-none">Choose your protective devices which will add the appropriate discount.</span>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </div>
         </tab>
         <tab heading="Dwelling">
            <div class="clearfix">
               <form name="vm.settingsForm" role="form" data-parsley-trigger="blur" validate-form="" novalidate="">
                  <div class="col-lg-4">
                     <h3 class="text-center">Important Settings</h3>
                     <p class="text-center">Enable or disable common property quote settings.</p>
                     <br/>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-9 control-label text-right">Original Home Owner?</label>
                           <div class="col-sm-3">
                              <label class="switch switch-lg center-block">
                                 <input type="checkbox" name="dwelling.isOriginalOwner" ng-model="vm.quote.originalowner" class="text-center center-block" />
                                 <span></span>
                              </label>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-9 control-label text-right">Hail Resistant Roof?</label>
                           <div class="col-sm-3">
                              <label class="switch switch-lg center-block">
                                 <input type="checkbox" checked="checked" name="dwelling.replacementCost.hailResistantRoofInd" ng-model="vm.quote.hailresistantroof" class="text-center center-block" />
                                 <span></span>
                              </label>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-9 control-label text-right">Hurricane Laminated Glass?</label>
                           <div class="col-sm-3">
                              <label class="switch switch-lg center-block">
                                 <input type="checkbox" checked="checked" name="dwelling.replacementCost.laminatedWindows" ng-model="vm.quote.hurricaneresistantlaminatedglass" class="text-center center-block" />
                                 <span></span>
                              </label>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-4 control-label text-right">Effective Date</label>
                           <div class="col-sm-8">
                              <p class="input-group">
                                 <input type="text" datepicker-popup="yyyy/MM/dd" ng-model="vm.quote.effectivedate" is-open="vm.opened" datepicker-options="vm.dateOptions" close-text="Close" class="form-control" />
                                 <span class="input-group-btn">
                                    <button type="button" ng-click="vm.openDatePicker($event)" class="btn btn-default">
                                       <em class="fa fa-calendar"></em>
                                    </button>
                                 </span>
                              </p>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-5 control-label text-right">Sub-Producer Code</label>
                           <div class="col-sm-7">
                              <input type="text" placeholder="Enter code" ng-model="vm.quote.subproducercode" class="form-control" />
                           </div>
                        </div>
                     </fieldset>
                  </div>
               </form>
               <div class="col-lg-4">
                  <h3 class="text-center">Dwelling Settings</h3>
                  <p class="text-center">Tune your dwelling settings for control over the quoted premiums.</p>
                  <br/>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Length of Continuous Coverage</label>
                        <div class="col-sm-12">
                           <select name="household.currentInsuranceBean.lengthTimeWithPreviousInsurer" ng-model="vm.quote.lengthofcontinuouscoverage" class="form-control m-b">
                              <option value="">select option</option>
                              <option value="0">0 months</option>
                              <option value="6">6 months</option>
                              <option value="12">1 year</option>
                              <option value="24">2 years</option>
                              <option value="36">3 years</option>
                              <option value="48">4 years</option>
                              <option value="60">5 years</option>
                              <option value="72">6 years</option>
                              <option value="84">7 years</option>
                              <option value="96">8 years</option>
                              <option value="108">9 years</option>
                              <option value="120">10 years</option>
                           </select>
                           <span class="help-block m-b-none">Set the default length of continuous coverage. Defaults to 5 years.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Purchase Month</label>
                        <div class="col-sm-12">
                           <select chosen="" id="month" required="required" ng-options="option.value as option.name for option in vm.months" ng-model="vm.quote.purchaseDateMM" class="chosen-select input-md"></select>
                           <span class="help-block m-b-none">Set the default purchase month.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div method="get" class="form-group">
                        <label class="col-sm-12 control-label">Purchase Year</label>
                        <div class="col-sm-12">
                           <select chosen="" id="year" required="required" ng-options="y for y in vm.years" ng-model="vm.quote.purchaseDateYYYY" name="vm.quote.purchaseDateYYYY" class="chosen-select input-md"></select>
                           <span class="help-block m-b-none">Choose your default purchase year.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Default Market Value</label>
                        <div class="col-sm-12">
                           <input type="number" name="dwelling.marketValueAmt" ng-model="vm.quote.marketvalue" data-parsley-type="number" placeholder="100000" class="form-control" />
                           <span class="help-block">Set a default market value. If your lead list includes a market value this value will not be used.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div method="get" class="form-group">
                        <label class="col-sm-12 control-label">Default Year Built</label>
                        <div class="col-sm-12">
                           <select chosen="" ng-options="s for s in vm.years" ng-model="vm.quote.yearbuilt" name="dwelling.replacementCost.yearBuilt" class="chosen-select input-md"></select>
                           <span class="help-block m-b-none">If your lead list does not contain a Year Built value, this value will be used.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div method="get" class="form-group">
                        <label class="col-sm-12 control-label">Default Year Roof Installed</label>
                        <div class="col-sm-12">
                           <select chosen="" ng-options="s for s in vm.years" ng-model="vm.quote.yearroofinstalled" name="dwelling.replacementCost.yearRoofInstalled" class="chosen-select input-md"></select>
                           <span class="help-block m-b-none">If your lead list does not contain a Year Roof Installed value, this value will be used.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Construction Type</label>
                        <div class="col-sm-12">
                           <select name="dwelling.replacementCost.constructiontype" ng-model="vm.quote.constructiontype" class="form-control m-b">
                              <option selected="selected" value="FN">Fire Resistive - Not 100%</option>
                              <option value="FR">Fire Resistive - 100%</option>
                           </select>
                           <span class="help-block m-b-none">Many home are not 100% Fire Resistive. Play your cards wisely.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Roof Geometry</label>
                        <div class="col-sm-12">
                           <select name="dwelling.replacementCost.roofGeometryCd" ng-model="vm.quote.roofgeometry" class="form-control m-b">
                              <option selected="selected" value="1">Hip Roof</option>
                              <option value="2">All Other Roofs</option>
                              <option value="3">Gable Roof</option>
                              <option value="4">Flat Roof</option>
                           </select>
                           <span class="help-block m-b-none">Select the most applicable roof geometry default value.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Type of Residence</label>
                        <div class="col-sm-12">
                           <select name="dwelling.replacementCost.residenceTypeCd" ng-model="vm.quote.typeofresidence" class="form-control m-b">
                              <option selected="selected" value="HO1">Single Family Residence</option>
                              <option value="HO2">Two Family Residence</option>
                              <option value="HO3">Three Family Residence</option>
                              <option value="HO4">Four Family Residence</option>
                              <option value="TH1">Townhouse</option>
                           </select>
                           <span class="help-block m-b-none">Select the type of residence. If quoting Townhouses be sure to set this value correctly.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Style of Home</label>
                        <div class="col-sm-12">
                           <select name="dwelling.replacementCost.homeStyle" ng-model="vm.quote.styleofhome" class="form-control m-b">
                              <option value="1">1 Story</option>
                              <option value="2">1 1/2 Story</option>
                              <option value="3">2 Story</option>
                              <option value="4">2 1/2 Story</option>
                              <option value="5">3 Story</option>
                              <option value="18">Bi-Level</option>
                              <option value="23">Tri-Level</option>
                              <option value="25">Row House Center</option>
                              <option value="24">Row House End</option>
                              <option value="27">Town House Center</option>
                              <option value="26">Town House End</option>
                              <option value="28">Victorian</option>
                              <option value="29">Ornate Victorian</option>
                           </select>
                           <span class="help-block m-b-none">Select the default style of home.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Total Living Area</label>
                        <div class="col-sm-12">
                           <input type="number" name="dwelling.replaceCost.totalLivingArea" data-parsley-type="number" placeholder="1500" ng-model="vm.quote.totallivingarea" maxlength="4" class="form-control" />
                           <span class="help-block">Set a default living area (Sq. Ft.). If your lead list includes a living area value this value will not be used.</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Distance to Closest Fire Hydrant</label>
                        <div class="col-sm-12">
                           <select name="dwelling.tclass.distanceToHydrant" ng-model="vm.quote.distancetoclosestfirehydrant" class="form-control m-b">
                              <option selected="selected" value="250">1 - 500 Feet</option>
                              <option value="750">501 - 1000 Feet</option>
                              <option value="1250">1001 - 1500 Feet</option>
                              <option value="1750">1501 - 2000 Feet</option>
                              <option value="2001">Over 2000 Feet</option>
                           </select>
                           <span class="help-block m-b-none">Select the default distance to the closest fire hydrant.</span>
                        </div>
                     </div>
                  </fieldset>
               </div>
               <div class="col-lg-4">
                  <h3 class="text-center">Coverage Settings</h3>
                  <p class="text-center">Change your default deductibles, product packages, etc.</p>
                  <br/>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">House &amp; Home Package</label>
                        <div class="col-sm-12">
                           <select name="policyInfoBean.selectedProductPackage" ng-model="vm.quote.househomepackage" class="form-control m-b">
                              <option selected="selected" value="A1">Allstate Base</option>
                              <option value="EP">Allstate Enhanced</option>
                              <span class="help-block m-b-none">Select the default House &amp; Home product package.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Building Structure Reimbursement Extended Limits</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[5].selection" ng-model="vm.quote.buildingstructurereimbursementextendedlimits" class="form-control m-b">
                              <option selected="selected" value="0">No</option>
                              <option value="1">120%</option>
                              <option value="2">140%</option>
                              <span class="help-block m-b-none">Select the default building structures reimbursement extended limits value. Default is "No."</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Building Codes Coverage</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[6].selection" ng-model="vm.quote.buildingcodescoverage" class="form-control m-b">
                              <option selected="selected" value="0">No</option>
                              <option value="1">5%</option>
                              <option value="2">10%</option>
                              <option value="3">20%</option>
                              <span class="help-block m-b-none">Select the default building coverage value. Default is "No."</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label text-center">Roof Surfaces Extended Coverage</label>
                        <div class="col-sm-12">
                           <label class="switch switch-lg center-block text-center">
                              <input type="checkbox" checked="checked" name="coverageBean[7].selection" ng-model="vm.quote.roofsurfacesextendedcoverage" class="text-center center-block" />
                              <span></span>
                           </label>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Deductible</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[0].selection" ng-model="vm.quote.deductible" class="form-control m-b">
                              <option value="0">$500 All Peril</option>
                              <option value="1">$750 All Peril</option>
                              <option selected="selected" value="2">$1000 All Peril</option>
                              <option value="3">$1500 All Peril</option>
                              <option value="4">$2000 All Peril</option>
                              <option value="5">$2500 All Peril</option>
                              <option value="6">$3000 All Peril</option>
                              <option value="7">$5000 All Peril</option>
                              <option value="8">$7500 All Peril</option>
                              <option value="9">$10000 All Peril</option>
                              <option value="10">0.5% All Peril</option>
                              <option value="11">1% All Peril</option>
                              <option value="12">2% All Peril</option>
                              <option value="13">5% All Peril</option>
                              <span class="help-block m-b-none">Select the default Dwelling / Personal Property / Other Structures Deductible.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Family Liability</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[1].selection" ng-model="vm.quote.familyliability" class="form-control m-b">
                              <option value="0">$100,000</option>
                              <option value="1">$200,000</option>
                              <option selected="selected" value="2">$300,000</option>
                              <option value="3">$500,000</option>
                              <option value="4">$1,000,000</option>
                              <span class="help-block m-b-none">Select the default family liability protection amount.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Guest Medical</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[2].selection" ng-model="vm.quote.guestmedical" class="form-control m-b">
                              <option value="0">$1,000</option>
                              <option value="1">$2,500</option>
                              <option selected="selected" value="2">$5,000</option>
                              <span class="help-block m-b-none">Select the default guest medical protection amount.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Personal Property Protection</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[3].selection" ng-model="vm.quote.personalpropertyprotection" class="form-control m-b">
                              <option value="0">30%</option>
                              <option value="1">35%</option>
                              <option value="2">40%</option>
                              <option value="3">45%</option>
                              <option value="4" selected="selected">50%</option>
                              <option value="5">55%</option>
                              <option value="6">60%</option>
                              <option value="7">65%</option>
                              <option value="8">70%</option>
                              <option value="9">75%</option>
                              <span class="help-block m-b-none">Select the default personal property protection amount.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Other Structures Protection</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[4].selection" ng-model="vm.quote.otherstructuresprotection" class="form-control m-b">
                              <option value="0">5%</option>
                              <option value="1">10%</option>
                              <option value="2">15%</option>
                              <option value="3">20%</option>
                              <option value="4">25%</option>
                              <option value="5">30%</option>
                              <option value="6">35%</option>
                              <option value="7">40%</option>
                              <option value="8">45%</option>
                              <option value="9">50%</option>
                              <option value="10" selected="selected">55%</option>
                              <option value="11">60%</option>
                              <option value="12">65%</option>
                              <option value="13">70%</option>
                              <span class="help-block m-b-none">Select the default other structures protection amount.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Additional Living Expenses</label>
                        <div class="col-sm-12">
                           <select name="coverageBean[9].selection" ng-model="vm.quote.additionallivingexpenses" class="form-control m-b">
                              <option value="0">5%</option>
                              <option value="1">10%</option>
                              <option value="2">15%</option>
                              <option value="3">20%</option>
                              <option value="4">25%</option>
                              <option value="5">30%</option>
                              <option value="6">35%</option>
                              <option value="7">40%</option>
                              <span class="help-block m-b-none">Select the default additional living expenses amount.</span>
                           </select>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label text-center">Easy Pay Plan</label>
                        <div class="col-sm-12">
                           <label class="switch switch-lg center-block text-center">
                              <input type="checkbox" checked="checked" name="method" id="btn:removeEasyPayPlan" class="text-center center-block" />
                              <span></span>
                           </label>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-12 control-label text-center">Good Hands Roadside</label>
                        <div class="col-sm-12">
                           <label class="switch switch-lg center-block text-center">
                              <input type="checkbox" checked="checked" name="interestedInGHRInd" class="text-center center-block" />
                              <span></span>
                           </label>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </div>
         </tab>
         <tab heading="Credit">
            <div class="clearfix">
               <div class="col-lg-6">
                  <h3 class="text-center">Property Insurance Scores</h3>
                  <p class="text-center">Set default credit score for property policies.</p>
                  <br/>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-4 control-label">Default Property Credit Score</label>
                        <div class="col-sm-8">
                           <select name="household.creditScore" ng-model="vm.quote.propertycreditinformation" class="form-control m-b">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                              <option>25</option>
                              <option>26</option>
                              <option>27</option>
                              <option>28</option>
                              <option>29</option>
                              <option>30</option>
                              <option>40</option>
                              <option>45</option>
                              <option>46</option>
                              <option>47</option>
                              <option>48</option>
                              <option>49</option>
                              <option>50</option>
                           </select>
                           <span class="help-block m-b-none">Set the default credit score for property quotes.</span>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </div>
         </tab>
      </tabset>
   </div>
</div>