<div ng-controller="QuoteSettignsController as vm" class="quote-settings">
   <div class="btn-group btn-group-justified toolbar navigation">
      <div role="group" ng-repeat="item in vm.menu" class="btn-group"><a ui-sref="{{item.state}}" ui-sref-active="current" class="btn btn-default"><i ng-class="item.icon" class="fa"></i><span ng-bind-html="item.name" class="menu-title"></span></a>
      </div>
   </div>
   <div class="setting-content">
      <div class="row">
         <div class="ui-view-container">
            <div ui-view="" ng-class="app.viewAnimation" class="col-lg-12"></div>
         </div>
      </div>
   </div>
</div>