<div class="panel panel-default">
   <div class="panel-body agency-settings">
      <button type="button" ng-click="vm.addAgency()" class="btn btn-md btn-primary new-agency save pull-right"><i class="fa fa-plus"></i>
         <span>Create New</span>
      </button>
      <tabset>
         <tab ng-repeat="agency in vm.settings" heading="{{agency.agencyName || agency.id || &quot;New&quot;}}">
            <div class="clearfix">
               <form name="vm.agencyForm" role="form" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.saveAgency(agency)">
                  <button type="submit" ng-disabled="vm.saving" class="btn btn-md btn-green save top pull-right"><i class="fa fa-check"></i>
                     <span ng-hide="vm.saving">Save</span>
                     <span ng-show="vm.saving">Saving...</span>
                  </button>
                  <div class="col-lg-6">
                     <h3 class="text-center">Gateway / Alliance Info</h3>
                     <p class="text-center">Agency information used logging into Gateway or Alliance.</p>
                     <br/>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Agent ID</label>
                           <div class="col-sm-9">
                              <input type="text" placeholder="Axxxxxx" ng-model="agency.id" name="agentid" ng-disabled="!agency.isNew" required="required" class="form-control" />
                              <span class="help-block m-b-none">Enter Your Complete Agent ID Including the Leading "A"</span>
                              <span ng-bind-html="agency.isNew"></span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Gateway Password</label>
                           <div class="col-sm-9">
                              <input type="password" name="password" ng-model="agency.gatewaypassword" required="required" class="form-control" />
                              <span class="help-block m-b-none">Enter Your Gateway Password</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Alliance Node</label>
                           <div class="col-sm-9">
                              <input type="text" ng-model="agency.alliancesubDomain" name="alliance_subdomain" placeholder="nyg0101" required="required" class="form-control" />
                              <span class="help-block m-b-none">Enter Your Alliance Sub-domain node. Usually http://xxxxxxx.allianceweb.allstate.com. Login to Gateway and visit Alliance, look at the browser URL to find this value.</span>
                           </div>
                        </div>
                     </fieldset>
                  </div>
                  <div class="col-lg-6">
                     <h3 class="text-center">Contact Information</h3>
                     <p class="text-center">Agency contact information used for mail merge, email signature, etc.</p>
                     <br/>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Agency Name</label>
                           <div class="col-sm-9">
                              <input type="text" name="agency_businessName" ng-model="agency.agencyName" placeholder="My Agency Name, Inc." class="form-control" />
                              <span class="help-block m-b-none">Enter your agency's business name.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Phone Number</label>
                           <div class="col-sm-9">
                              <input type="text" masked="" data-autounmask="true" ng-model="agency.agencyPhone" name="phone" data-inputmask="'mask': '(999) 999-9999', 'autoUnmask': true" placeholder="555-555-5555" required="required" class="form-control"
                              />
                              <span class="help-block">Enter the agency phone number you want to use.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Toll-Free Number</label>
                           <div class="col-sm-9">
                              <input type="text" masked="" ng-model="agency.agencyTollFreeNumber" name="tollfreenumber" data-inputmask="'mask': '(999) 999-9999', 'autoUnmask': true" placeholder="800-555-5555" class="form-control" />
                              <span class="help-block">Enter the agency phone number you want to use.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Fax Number</label>
                           <div class="col-sm-9">
                              <input type="text" ng-model="agency.agencyFax" masked="" name="fax" data-inputmask="'mask': '(999) 999-9999', 'autoUnmask': true" placeholder="555-555-5555" required="required" class="form-control" />
                              <span class="help-block">Enter the agency fax number you want to use.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Agency Email</label>
                           <div class="col-sm-9">
                              <input type="email" name="email" ng-model="agency.agencyEmail" data-parsley-type="email" required="required" placeholder="tom@allstate.com" class="form-control" />
                              <span class="help-block">Want to include your email as a merge field? Do it here.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Agency Website URL</label>
                           <div class="col-sm-9">
                              <input type="text" name="agency_url" data-parsley-type="url" ng-model="agency.agencyWebsite" placeholder="http://mysite.com" class="form-control" />
                              <span class="help-block">Includes your agency website URL here.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Address 1</label>
                           <div class="col-sm-9">
                              <input type="text" name="agency_address[0]" ng-model="agency.agencyAddress1" required="required" placeholder="1 Main St." class="form-control" />
                              <span class="help-block m-b-none">Enter your agency's street address.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Address 2</label>
                           <div class="col-sm-9">
                              <input type="text" name="agency_address[1]" ng-model="agency.agencyAddress2" placeholder="Suite B7" class="form-control" />
                              <span class="help-block m-b-none">Enter your agency's street address.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Address City</label>
                           <div class="col-sm-9">
                              <input type="text" name="agency_address[2]" required="required" ng-model="agency.agencyCity" placeholder="AnyTown" class="form-control" />
                              <span class="help-block m-b-none">Enter your agency's city.</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div method="get" class="form-group form-horizontal">
                           <label class="col-sm-3 text-right control-label">Agency State</label>
                           <div class="col-sm-9">
                              <select chosen="" ng-model="agency.allianceState" name="allianceState" required="required" data-parsley-min-message="This value is required." data-parsley-min="1" data-state="" ng-options="s.abbreviation as s.name for s in vm.states"
                              class="agent-state input-md"></select>
                              <span class="help-block m-b-none">Choose Your Agency State</span>
                           </div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-3 text-right control-label">Address Zipcode</label>
                           <div class="col-sm-9">
                              <input type="text" name="agency_address[3]" masked="" data-inputmask="'mask':'99999'" required="required" ng-model="agency.agencyZipcode" placeholder="90210" class="form-control" />
                              <span class="help-block m-b-none">Enter your agency's city.</span>
                           </div>
                        </div>
                     </fieldset>
                  </div>
                  <div class="col-sm-12">
                     <button type="submit" ng-disabled="vm.saving" class="btn btn-md btn-green save pull-right"><i class="fa fa-check"></i>
                        <span ng-hide="vm.saving">Save</span>
                        <span ng-show="vm.saving">Saving...</span>
                     </button><a href="#" data-toggle="modal" ng-click="vm.open(agency.id)" class="btn btn-md btn-danger save pull-right"><i class="fa fa-trash"></i><span>&nbsp;Delete</span></a>
                     <script type="text/ng-template" id="/deleteModal.html">
                        <div class="confirm-delete"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button><h4 id="myMapModalLabel" class="modal-title">Confirm Delete</h4></div><div class="modal-body"><p>You are about to delete agency setting</p><p>Do you want to proceed?</p></div><div class="modal-footer"><button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-default">Cancel</button><a href="#" ng-click="deleteAgency(agency.id)" class="btn btn-danger">Delete</a></div></div>
                     </script>
                  </div>
               </form>
            </div>
         </tab>
      </tabset>
   </div>
</div>