<h3>Quote Engine</h3>
<div ng-controller="QuoteEngineController as vm" class="table-grid table-grid-desktop">
   <div class="col col-md">
      <div class="pr">
         <div ng-hide="vm.$state.is('app.quote-engine.new')" class="clearfix mb">
            <button type="button" ng-click="vm.mailboxMenuCollapsed = !vm.mailboxMenuCollapsed" ng-init="vm.mailboxMenuCollapsed = true" class="btn btn-sm btn-default mb-toggle-button pull-right">
               <em class="fa fa-bars fa-fw fa-lg"></em>
            </button>
            <a ui-sref="app.quote-engine.new" class="btn btn-green btn-lg mb-compose-button"> <i class="fa fa-plus"></i>
               <span>&nbsp;New Quote</span>
            </a>
         </div>
         <div collapse="mailboxMenuCollapsed" class="mb-boxes">
            <div class="panel panel-default">
               <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked quote-engine-menu">
                     <li class="p">
                        <small class="text-muted">Quote Jobs</small>
                     </li>
                     <li ui-sref-active="active">
                        <a ui-sref="app.quote-engine.complete-jobs">
                           <span ng-if="competedJobsCount" ng-bind-html="competedJobsCount" class="label label-green pull-right"></span>
                           <em class="fa fa-fw fa-lg fa-folder"></em>
                           <span>Complete</span>
                        </a>
                     </li>
                     <li ui-sref-active="active">
                        <a ui-sref="app.quote-engine.pending-jobs">
                           <span ng-if="pendingJobsCount" ng-bind-html="pendingJobsCount" class="label label-green pull-right"></span>
                           <em class="fa fa-fw fa-lg fa-clock-o"></em>
                           <span>Pending</span>
                        </a>
                     </li>
                     <li ui-sref-active="active" ng-repeat="fold in vm.folders">
                        <a ui-sref="app.quote-engine.{{fold.stateName}}">
                           <span ng-if="fold.alert" class="label label-green pull-right">{{fold.alert}}</span>
                           <em ng-class="fold.icon" class="fa fa-fw fa-lg"></em>
                           <span>{{fold.name}}</span>
                        </a>
                     </li>
                     <li ui-sref-active="active">
                        <a ui-sref="app.quote-engine.trash-jobs">
                           <span ng-if="trashJobsCount" ng-bind-html="trashJobsCount" class="label label-green pull-right"></span>
                           <em class="fa fa-fw fa-lg fa-trash"></em>
                           <span>Trash</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="ui-view-container">
      <div ui-view="" ng-class="app.viewAnimation"></div>
   </div>
</div>