<h3>State Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a state</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.stateForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3">
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" required="required" name="name" type="text" ng-model="vm.state.name" placeholder="State Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.state.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Code</label>
                     <input ng-if="vm.action == 'upsert'" required="required" type="text" ng-model="vm.state.code" placeholder="State Code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.state.code}}</span>
                  </div>
                  <div class="form-group">
                     <label>Country</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" ng-model="vm.state.country" placeholder="State Country" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.state.country}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.states-edit({id:vm.state.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a><a ui-sref="app.states" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>