<h3>Station Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a station</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.stationForm" data-parsley-trigger="blurr" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Code</label>
                     <input ng-if="vm.action == 'upsert'" name="code" type="text" required="required" ng-model="vm.station.code" placeholder="Station Code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.code}}</span>
                  </div>
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" name="name" type="text" required="required" ng-model="vm.station.name" placeholder="Station Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Category</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="c.id as c.name for c in vm.categories" ng-model="vm.categoryId" class="form-control">
                        <option value="">Select station category</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.category ? vm.station.category.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>City</label>
                     <select ng-if="vm.action == 'upsert'" ng-options="c.id as c.name for c in vm.cities" ng-model="vm.station.cityId" class="form-control">
                        <option value="">Select station city</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.city ? vm.station.city.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>State</label>
                     <select ng-if="vm.action == 'upsert'" ng-options="s.id as s.name for s in vm.states" ng-change="vm.stateChanged()" ng-model="vm.station.stateId" class="form-control">
                        <option value="">Select station State</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.state ? vm.station.state.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>Longitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.station.longitude" placeholder="Station Longitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.longitude}}</span>
                  </div>
                  <div class="form-group">
                     <label>Latitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.station.latitude" placeholder="Station latitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.latitude}}</span>
                  </div>
                  <div class="form-group">
                     <label>Total Platforms</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.station.totalPlatforms" placeholder="Total platforms" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.totalPlatforms}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Train Halts</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.station.trainHalts" placeholder="Train Halts" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.trainHalts}}</span>
                  </div>
                  <div class="form-group">
                     <label>Network availability</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.station.networkAvailability" class="form-control">
                        <option value="">Select availability</option>
                        <option value="2">Strong</option>
                        <option value="1">Moderate</option>
                        <option value="0">Poor</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.networkAvailability}}</span>
                  </div>
                  <div class="form-group">
                     <label>Tea drinkable</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.station.teaDrinkable" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.teaDrinkable}}</span>
                  </div>
                  <div class="form-group">
                     <label>Snacks eatable</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.station.snacksEatable" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.snacksEatable}}</span>
                  </div>
                  <div class="form-group">
                     <label>Waiting hall condition</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.station.waitingHallCondition" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="-1">NA</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.waitingHallCondition}}</span>
                  </div>
                  <div class="form-group">
                     <label>Retiring room</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.station.retiringRoom" class="form-control">
                        <option value="">Select option</option>
                        <option value="0">AC</option>
                        <option value="1">Non-AC</option>
                        <option value="2">NA</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.retiringRoom}}</span>
                  </div>
                  <div class="form-group">
                     <label>Retiring room fare</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.station.retiringRoomFare" placeholder="Retiring room fare     " class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.retiringRoomFare}}</span>
                  </div>
                  <div class="form-group">
                     <label>Accomodation standard</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.station.accomodationStandard" class="form-control">
                        <option value="">Select option</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.station.accomodationStandard}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Nearest bar shop</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.nearestBarShop" placeholder="Nearest bar shop" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.nearestBarShop}}</span>
                  </div>
                  <div class="form-group">
                     <label>Bar shop latitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.barShopLat" placeholder="Bar shop latitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.barShopLat}}</span>
                  </div>
                  <div class="form-group">
                     <label>Bar shop longitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.barShopLong" placeholder="Bar shop longitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.barShopLong}}</span>
                  </div>
                  <div class="form-group">
                     <label>Nearest Bus Stop</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.nearestBusStop" placeholder="Nearest bar shop" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.nearestBusStop}}</span>
                  </div>
                  <div class="form-group">
                     <label>Bus Stop latitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.busStopLat" placeholder="Bus Stop latitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.busStopLat}}</span>
                  </div>
                  <div class="form-group">
                     <label>Bus Stop longitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.busStopLong" placeholder="Bus Stop longitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.busStopLong}}</span>
                  </div>
                  <div class="form-group">
                     <label>Nearest Airport</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.nearestAirport" placeholder="Nearest Airport" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.nearestAirport}}</span>
                  </div>
                  <div class="form-group">
                     <label>Airport latitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.airportLat" placeholder="Airport latitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.airportLat}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Airport longitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.airportLong" placeholder="Airport longitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.airportLong}}</span>
                  </div>
                  <div class="form-group">
                     <label>Nearest Doctor</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.nearestAirport" placeholder="Nearest Doctor" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.nearestDoctor}}</span>
                  </div>
                  <div class="form-group">
                     <label>Doctor latitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.doctorLat" placeholder="Doctor latitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.doctorLat}}</span>
                  </div>
                  <div class="form-group">
                     <label>Doctor longitude</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.doctorLong" placeholder="Doctor longitude" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.station.doctorLong}}</span>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" ng-model="vm.station.trainPandaDelivery" />
                           <span class="fa fa-check"></span>Train Panda delivery</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" ng-model="vm.station.ATM" />
                           <span class="fa fa-check"></span>ATM</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" ng-model="vm.station.bookShop" />
                           <span class="fa fa-check"></span>Book Shop</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Famous for / Default text</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.station.famousFor" placeholder="Famous for" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.station.famousFor}}</span>
                  </div>
               </div>
            </div>
            <div nv-file-drop="nv-file-drop" uploader="vm.uploader" ng-if="!vm.noFiles" class="row">
               <div ng-hide="vm.action=='view'" style="margin-bottom:20px" class="col-md-3">
                  <h3>Station Images</h3>
                  <div ng-show="vm.uploader.isHTML5">
                     <div nv-file-drop="nv-file-drop" over-class="bg-info" uploader="vm.uploader" nv-file-over="another-file-over-class" class="box-placeholder my-drop-zone">Drop Files Here</div>
                  </div>
                  <input id="filestyle-0" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="vm.uploader" multiple="" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"
                  class="form-control" />
                  <div class="bootstrap-filestyle input-group">
                     <input type="text" disabled="" class="form-control" />
                     <span tabindex="0" class="group-span-filestyle input-group-btn">
                        <label for="filestyle-0" class="btn btn-default">
                           <span class="fa fa-folder-open"></span>Select Files</label>
                     </span>
                  </div>
               </div>
               <div style="margin-bottom: 40px" ng-hide="vm.action=='view' || vm.uploader.queue.length === 0" class="col-md-9">
                  <h3>Upload queue</h3>
                  <p>Queue length: {{ vm.uploader.queue.length }}</p>
                  <table class="table">
                     <thead>
                        <tr>
                           <th width="50%">Name</th>
                           <th ng-show="vm.uploader.isHTML5">Size</th>
                           <th ng-show="vm.uploader.isHTML5">Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in vm.uploader.queue">
                           <td>
                              <strong>{{ item.file.name }}</strong>
                           </td>
                           <td ng-show="vm.uploader.isHTML5" nowrap="">{{item.file.size/1024/1024|number:2 }} MB</td>
                           <td ng-show="vm.uploader.isHTML5">
                              <div style="margin-bottom: 0;" class="progress">
                                 <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                              </div>
                           </td>
                           <td class="text-center">
                              <span ng-show="item.isSuccess"><i class="fa fa-check"></i>
                              </span>
                              <span ng-show="item.isCancel"><i class="fa icon-close"></i>
                              </span>
                              <span ng-show="item.isError"><i class="fa fa-trash"></i>
                              </span>
                           </td>
                           <td nowrap="">
                              <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-success btn-xs">
                                 <span class="icon-cloud-upload">&nbsp;</span>Upload</button>
                              <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                 <span class="fa icon-close">&nbsp;</span>Cancel</button>
                              <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                 <span class="fa fa-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div>
                     <p>Queue progress:
                        <div style="" class="progress">
                           <div role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }" class="progress-bar"></div>
                        </div>
                     </p>
                     <button type="button" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length" class="btn btn-success">
                        <span class="icon-cloud-upload">&nbsp;</span>Upload all</button>
                     <button type="button" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading" class="btn btn-warning btn-s">
                        <span class="fa icon-close">&nbsp;</span>Cancel all</button>
                     <button type="button" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length" class="btn btn-danger btn-s">
                        <span class="icon-trash">&nbsp;</span>Remove all</button>
                  </div>
               </div>
               <div ng-show="vm.files.length" class="col-md-12">
                  <h3>Uploaded Images</h3>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(0, vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.stations-edit({id:vm.station.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.stations" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>