<h3>Stations List
   <small>search and filter stations</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.stations-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="stations-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Code</th>
                     <th>Name</th>
                     <th>Category</th>
                     <th>Latitude</th>
                     <th>Longitude</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th class="actions">Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Category" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Latitude" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Longitude" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="station in vm.stations" ng-class="station.id">
                     <td>{{station.code}}</td>
                     <td>{{station.name}}</td>
                     <td>{{station.category.name}}</td>
                     <td>{{station.latitude }}</td>
                     <td>{{station.longitude }}</td>
                     <td>{{station.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{station.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.stations-view({id:station.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp<a ui-sref="app.stations-edit({id:station.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp
                        <a
                        ng-click="vm.delete(station.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>