<h3>States List
   <small>search and filter states</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.states-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="states-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Code</th>
                     <th>Country</th>
                     <th>Added on</th>
                     <th>Updated on</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Country" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="state in vm.states" ng-class="state.id">
                     <td>{{state.name}}</td>
                     <td>{{state.code}}</td>
                     <td>{{state.country}}</td>
                     <td>{{state.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{state.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.states-view({id:state.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp<a ui-sref="app.states-edit({id:state.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp
                        <a
                        ng-click="vm.delete(state.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>