<h3>Train Rating List
   <small>search and filter trainRatings</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.trainRatings-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="trainRatings-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>PNR</th>
                     <th>Trip</th>
                     <th>Train #</th>
                     <th>Food Quality</th>
                     <th>Clean</th>
                     <th>Crowded</th>
                     <th>Delay</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter PNR" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Trip" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Train #" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Food Quality" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Clean" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Crowded" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Delay" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="trainRating in vm.trainRatings" ng-class="trainRating.id">
                     <td>{{trainRating.PNR.pnr}}</td>
                     <td>{{trainRating.trip.name}}</td>
                     <td>{{trainRating.train.number}}
                        <td>{{trainRating.foodQuality}}</td>
                        <td>{{trainRating.clean}}</td>
                        <td>{{trainRating.crowded}}</td>
                        <td>{{trainRating.delay}}</td>
                        <td>{{trainRating.addedOn | date:'MM/dd/yy h:mma'}}</td>
                        <td>{{trainRating.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                        <td style="min-width:100px">
                           <!-- START button group-->
                           <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.trainRatings-edit({id:trainRating.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                              <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                                 <span class="caret"></span>
                              </button>
                              <ul role="menu" class="dropdown-menu">
                                 <li><a ui-sref="app.trainRatings-view({id:trainRating.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                                 </li>
                                 <li><a href="javascript:void(0)" ng-click="vm.delete(trainRating.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                                 </li>
                              </ul>
                           </div>
                        </td>
                        <!--.btn-group(dropdown='dropdown')-->
                        <!--    button.btn.btn-default(type='button') View-->
                        <!--    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')-->
                        <!--        span.caret-->
                        <!--        span.sr-only Toggle Dropdown-->
                        <!--    ul.dropdown-menu(role='menu')-->
                        <!--        li-->
                        <!--            a(href='#') Edit-->
                        <!--        li-->
                        <!--            a(href='#') Delete-->
                        <!--a.btn.btn-default(ui-sref="app.trainRatings-view({id:trainRating.id})")-->
                        <!--    i.icon-magnifier-->
                        <!--    | &nbsp;View-->
                        <!--| &nbsp;-->
                        <!--a.btn.btn-default(ui-sref="app.trainRatings-edit({id:trainRating.id})")-->
                        <!--    i.icon-pencil-->
                        <!--    | &nbsp;Edit-->
                        <!--| &nbsp;-->
                        <!--a.btn.btn-default(ng-click="vm.delete(trainRating.id)")-->
                        <!--    i.icon-trash-->
                        <!--    | &nbsp;Delete-->
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>