<h3>TrainRoute Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a trainRoute</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.trainRouteForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>sNo</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" data-parsley-type="number" type="text" ng-model="vm.trainRoute.sNo" placeholder="sNo" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.sNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>Station</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.code for station in vm.stations" ng-model="vm.trainRoute.stationCode" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.stationCode}}</span>
                  </div>
                  <div class="form-group">
                     <label>Train</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="train.number as train.number for train in vm.trains" ng-model="vm.trainRoute.trainNo" class="form-control">
                        <option value="">Select train</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.trainNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>Sort Order Number</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" data-parsley-type="number" type="text" ng-model="vm.trainRoute.sortOrderNumber" placeholder="Sort Order Number" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.sortOrderNumber}}</span>
                  </div>
                  <div class="form-group">
                     <label>Platform #</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.trainRoute.platformNo" placeholder="Platform #" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.platformNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>Average delay</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.trainRoute.averageDelay" placeholder="Average delay" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.averageDelay}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Halt Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.trainRoute.haltTime" placeholder="Halt Time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.haltTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Arrival Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.trainRoute.arrivalTime" placeholder="Arrival Time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.arrivalTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Departure Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.trainRoute.departureTime" placeholder="Departure Time" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.departureTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Distance from Prev Station</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.trainRoute.distanceFromPrevStation" placeholder="Distance from Prev Station"
                     class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.distanceFromPrevStation}}</span>
                  </div>
                  <div class="form-group">
                     <label>Distance To Next Station</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.trainRoute.distanceToNextStation" placeholder="Distance To Next Station" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.distanceToNextStation}}</span>
                  </div>
                  <div class="form-group">
                     <label>Time taken for next station</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.trainRoute.timeTakenForNextStation" placeholder="Time taken for next station"
                     class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trainRoute.timeTakenForNextStation}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.trainRoutes-edit({id:vm.trainRoute.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.trainRoutes" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>