<div ng-controller="TrainRatingFormController as vm">
   <h3>Train Rating Form
      <small ng-if="vm.action == 'upsert'">Fill the form and save a train rating</small>
   </h3>
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <form name="vm.trainRatingForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
               <div class="row">
                  <div class="col-lg-3 col-md-6">
                     <div class="form-group">
                        <label>PNR</label>
                        <select ng-if="vm.action == 'upsert'" required="required" ng-options="pnr.id as pnr.pnr for pnr in vm.pnrs" ng-model="vm.trainRating.pnr" class="form-control">
                           <option value="">Select PNR</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.PNR.pnr}}</span>
                     </div>
                     <div class="form-group">
                        <label>Trip</label>
                        <select ng-if="vm.action == 'upsert'" required="required" ng-options="trip.id as trip.name for trip in vm.trips" ng-model="vm.trainRating.tripId" class="form-control">
                           <option value="">Select trip</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.trip.name}}</span>
                     </div>
                     <div class="form-group">
                        <label>Train</label>
                        <select ng-if="vm.action == 'upsert'" required="required" ng-options="train.id as train.number for train in vm.trains" ng-model="vm.trainRating.trainId" class="form-control">
                           <option value="">Select Train</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.train.number}}</span>
                     </div>
                     <div class="form-group">
                        <label>Food Quality</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.foodQuality" class="form-control">
                           <option value="">Select food quality</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.train.foodQuality}}</span>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="form-group">
                        <label>Clean</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.clean" class="form-control">
                           <option value="">Select option</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.clean}}</span>
                     </div>
                     <div class="form-group">
                        <label>Crowded</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.crowded" class="form-control">
                           <option value="">Select option</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.crowded}}</span>
                     </div>
                     <div class="form-group">
                        <label>Delay</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.delay" class="form-control">
                           <option value="">Select option</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.delay}}</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                        <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                        <span ng-show="vm.saving" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Saving..</span>
                        </span>
                     </button><a ng-if="vm.action=='view'" ui-sref="app.trainRatings-edit({id:vm.trainRating.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.trainRatings" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>