<h3>Trip Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a trip</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.tripForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" ng-model="vm.trip.name" placeholder="Trip name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trip.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>PNR</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="pnr.id as pnr.pnr for pnr in vm.pnrs" ng-model="vm.trip.pnr" class="form-control">
                        <option value="">Select PNR</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.trip.PNR.pnr}}</span>
                  </div>
                  <div class="form-group">
                     <label>Customer</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="customer.id as customer.name for customer in vm.customers" ng-model="vm.trip.customerId" class="form-control">
                        <option value="">Select Customer</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.trip.customer.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Rating</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.trip.rating" placeholder="Trip rating" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trip.rating}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Train start delay</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.trip.trainStartDelay" placeholder="Train start delay" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trip.trainStartDelay}}</span>
                  </div>
                  <div class="form-group">
                     <label>Train end delay</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.trip.trainEndDelay" placeholder="Train end delay" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.trip.trainEndDelay}}</span>
                  </div>
                  <div class="form-group">
                     <label>Reviews</label>
                     <texarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.trip.review" placeholder="Trip Review" class="form-control"></texarea>
                     <span ng-if="vm.action=='view'">: {{vm.trip.review}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.trips-edit({id:vm.trip.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.trips" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>