h3 Alarms List
    small search and filter alarms
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.alarms-new")
                                i.icon-plus
                                | &nbsp;Add new
                            |&nbsp;
                            a.btn.btn-default(ui-sref="app.alarms", ng-if="vm.tripId")
                                i.icon-plus
                                | &nbsp;View all
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")
            .panel-body
                table.alarms-datable.table.table-striped.table-hover
                    thead
                        tr
                            th Customer
                            th Trip
                            th Station code
                            th Added On
                            th Updated On
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Customer')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Trip')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added on')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated on')
                    tbody
                        tr(ng-repeat="alarm in vm.alarms", ng-class="alarm.id")
                            td {{alarm.customer.name}}
                            td {{alarm.trip.name}}
                            td {{alarm.stationCode}}
                            td {{alarm.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{alarm.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.alarms-view({id:alarm.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                |&nbsp;
                                a.btn.btn-default(ui-sref="app.alarms-edit({id:alarm.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                |&nbsp;
                                a.btn.btn-default(ng-click="vm.delete(alarm.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
