include helpers.jade
h3 Cab Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a cab
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.cabForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        .form-group
                            label Operator Code
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, ng-model="vm.cab.operatorCode", placeholder="Operator code")
                            span(ng-if="vm.action=='view'") : {{vm.cab.operatorCode}}
                        .form-group
                            label Operator Name
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, ng-model="vm.cab.operatorName", placeholder="Operator name")
                            span(ng-if="vm.action=='view'") : {{vm.cab.operatorName}}
                        .form-group
                            label Minimum Fare
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, data-parsley-type="number", ng-model="vm.cab.minFare", placeholder="Minimum Fare")
                            span(ng-if="vm.action=='view'") : {{vm.cab.minFare}}
                        .form-group
                            label Per km cost
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, data-parsley-type="number", ng-model="vm.cab.perKmCost", placeholder="Per km cost")
                            span(ng-if="vm.action=='view'") : {{vm.cab.perKmCost}}
                        .form-group
                            label Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.cab.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.cab.stationCode}}

                    .col-lg-3.col-md-6

                        .form-group
                            label Text
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text",  ng-model="vm.cab.text", placeholder="Text")
                            span(ng-if="vm.action=='view'") : {{vm.cab.text}}
                        .form-group
                            label Distance from station
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.cab.distanceFromStation", placeholder="Distance from station")
                            span(ng-if="vm.action=='view'") : {{vm.cab.distanceFromStation}}
                        .form-group
                            label Rating
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.cab.rating")
                                option(value="") Select rating
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.cab.rating}}
                        .form-group
                            label Total users rated
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.cab.totalUsersRated", placeholder="Total users rated")
                            span(ng-if="vm.action=='view'") : {{vm.cab.totalUsersRated}}

                +imageUpload('Cab')
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.cabs-edit({id:vm.cab.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.cabs")
                            i.icon-arrow-left
                            | &nbsp;Back to list
