include helpers.jade

h3 Cabs List
    small search and filter cabs
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('cab', true)
            .panel-body
                table.cabs-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Operator Name
                            th Operator code
                            th Min. fare
                            th Per km cost
                            th Station Code
                            th Added On
                            th Updated On
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Operator Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Operator Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Min. fare')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Per km cost')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added on')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Upadate On')
                    tbody
                        tr(ng-repeat="cab in vm.cabs", ng-class="cab.id")
                            td {{cab.operatorName}}
                            td {{cab.operatorCode}}
                            td {{cab.minFare}}
                            td {{cab.perKmCost}}
                            td {{cab.stationCode}}
                            td {{cab.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{cab.updatedOn | date:'MM/dd/yy h:mma'}}
                            td(style="min-width:100px")
                                +dropdown_split('cab')
