include helpers.jade

h3  Category List
    small search and filter  categories
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            +toolbar('categorie')
            .panel-body
                table.categories-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Code
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
                            th
                    tbody
                        tr(ng-repeat="category in vm.categories", ng-class="category.id")
                            td {{category.name}}
                            td {{category.code}}
                            td
                                a.btn.btn-default(ui-sref="app.categories-edit({id:category.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp
                                a.btn.btn-default(ng-click="vm.delete(category.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
