include helpers.jade

h3  Category Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a  Category
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.categoryForm", data-parsley-trigger="blurr", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3
                        .form-group
                            label Name
                            input.form-control(ng-if="vm.action == 'upsert'", required, name="name", type="text", ng-model="vm.category.name", placeholder="category Name")
                            span(ng-if="vm.action=='view'") : {{vm.category.name}}
                        .form-group
                            label Code
                            input.form-control(ng-if="vm.action == 'upsert'", required, type="text", ng-model="vm.category.code", placeholder="category Code")
                            span(ng-if="vm.action=='view'") : {{vm.category.code}}
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.categories-edit({id:vm.category.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        a.btn.btn-default(ui-sref="app.categories")
                            i.icon-arrow-left
                            | &nbsp;Back to list
