h3 City Form
  small(ng-if="vm.action == 'upsert'") Fill the form and save a city
.row
  .col-lg-12
    .panel.panel-default
      form(name="vm.cityForm", data-parsley-trigger="blurr", validate-form='', novalidate='', ng-submit="vm.save()")
        .row
          .col-lg-3.col-md-6
            .form-group
              label Name
              input.form-control(ng-if="vm.action == 'upsert'", required, name="name", type="text", ng-model="vm.city.name", placeholder="City Name")
              span(ng-if="vm.action=='view'") : {{vm.city.name}}
            .form-group
              label Code
              input.form-control(ng-if="vm.action == 'upsert'", required, type="text", ng-model="vm.city.code", placeholder="City Code")
              span(ng-if="vm.action=='view'") : {{vm.city.code}}
            .form-group
              label State
              select.form-control(ng-if="vm.action == 'upsert'", data-parsley-required="true", ng-options="state.id as state.name for state in vm.states", ng-model="vm.stateId")
                option(value="") Select state
              span(ng-if="vm.action=='view'") : {{vm.city.state ? vm.city.state.name : ''}}
            .form-group(ng-if="vm.action == 'upsert'")
              .radio.c-radio.inline
                label
                  input(type='radio', name='a', required, ng-value='true', ng-model="vm.city.isUrban")
                  span.fa.fa-circle
                  |  Urban
              .radio.c-radio.inline
                label
                  input(type='radio', name='a', required, ng-value='false', ng-model="vm.city.isUrban", checked='')
                  span.fa.fa-circle
                  |  Rural
            .form-group(ng-if="vm.action == 'view'")
              label City type :
              span {{vm.city.isUrban ? 'Urban' : 'Rural'}}
          .col-lg-3.col-md-6
            .form-group
                label Tourist Attractions
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.city.touristAttraction", placeholder="City Tourist Attractions")
                span(ng-if="vm.action=='view'") : {{vm.city.touristAttraction}}
            .form-group
                label Local festivals/Fairs
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.city.localFestivals", placeholder="Local festivals/Fairs")
                span(ng-if="vm.action=='view'") : {{vm.city.localFestivals}}
          .col-lg-3.col-md-6
            .form-group
                label Speciality Food
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.city.specialityFood", placeholder="Speciality Food")
                span(ng-if="vm.action=='view'") : {{vm.city.specialityFood}}

          .row
          .col-sm-12
            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
              span(ng-hide="vm.saving")
                i.fa.fa-save
                |&nbsp;Save
              span.uploading(ng-show="vm.saving")
                span(us-spinner="{radius:3, width:1, length: 5}")
                span.btn-msg Saving..

            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.cities-edit({id:vm.city.id})")
              i.icon-pencil
              |&nbsp;Edit
            | &nbsp;
            a.btn.btn-default(ui-sref="app.cities")
              i.icon-arrow-left
              |&nbsp;Back to list


