h3 Customers List
    small search and filter customers

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.customers-new")
                                i.icon-plus
                                | &nbsp;Add new
                            .btn.file-input-wrap.btn-default
                                input.upload-select(type='file', name="upfile")
                                span(ng-hide="vm.uploading")
                                    i.icon-cloud-upload
                                    | &nbsp; Bulk upload
                                span.uploading(ng-show="vm.uploading")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Uploading..
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.customers-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th
                                | Name
                            th Email
                            th Phone
                            th Added on
                            th Last updated on
                            th Login type
                            th Actions

                    thead.filters
                        th
                            input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                        th
                            input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Email')
                        th
                            input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Phone')
                        th
                            input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                        th
                            input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated On')
                        th
                            input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Login Type')
                        th

                    tbody
                        tr(ng-repeat="customer in vm.customers", ng-class="customer.id")
                            td {{customer.name}}
                            td {{customer.email}}
                            td {{customer.phone}}
                            td {{customer.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{customer.updatedOn | date:'MM/dd/yy h:mma'}}
                            td {{customer.loginType }}
                            td
                                a.btn.btn-default(ui-sref="app.customers-view({id:customer.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                | &nbsp;
                                a.btn.btn-default(ui-sref="app.customers-edit({id:customer.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                a.btn.btn-default(ng-click="vm.delete(customer.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
