h3 Customer Form
  small(ng-if="vm.action == 'upsert'") Fill the form and save a customer
.row
  .col-lg-12
    .panel.panel-default
      form(name="vm.customerForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
        .row
          .col-lg-3.col-md-6
            .form-group
              label Name
              input.form-control(ng-if="vm.action == 'upsert'", name="name", type="text", required, ng-model="vm.customer.name", placeholder="Customer Name")
              span(ng-if="vm.action=='view'") : {{vm.customer.name}}
            .form-group
              label Age
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.customer.age", placeholder="Customer Age")
              span(ng-if="vm.action=='view'") : {{vm.customer.age}}
            .form-group
              label Sex
              select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.customer.sex")
                option(value="") Select customer sex
                option(value="male") Male
                option(value="female") Female
              span(ng-if="vm.action=='view'") : {{vm.customer.sex}}
            .form-group
              label Email
              input.form-control(ng-if="vm.action == 'upsert'", type="email", required, ng-model="vm.customer.email", placeholder="Customer Email")
              span(ng-if="vm.action=='view'") : {{vm.customer.email}}

          .col-lg-3.col-md-6

            .form-group
              label Phone
              input.form-control(ng-if="vm.action == 'upsert'", type="text",  data-parsley-type="number",data-parsley-maxlength="10", data-parsley-minlength="10", ng-model="vm.customer.phone", placeholder="Customer Phone")
              span(ng-if="vm.action=='view'") : {{vm.customer.phone}}

            .form-group
              label City
              select.form-control(ng-if="vm.action == 'upsert'", ng-options="c.id as c.name for c in vm.cities", ng-model="vm.cityId")
                option(value="") Select customer city
              span(ng-if="vm.action=='view'") : {{vm.customer.city ? vm.customer.city.name : ''}}
            .form-group
              label State
              select.form-control(ng-if="vm.action == 'upsert'", ng-options="state.id as state.name for state in vm.states", ng-model="vm.stateId")
                option(value="") Select customer state
              span(ng-if="vm.action=='view'") : {{vm.customer.state ? vm.customer.state.name : ''}}
            .form-group
              label Login Type
              select.form-control(ng-if="vm.action == 'upsert'", name="loginType", id="loginType", ng-model="vm.customer.loginType", data-parsley-required="true", placeholder="Select customer Login Type")
                option(value="") Select login type
                option(value="fb") fb
                option(value="twitter") twitter
                option(value="google+") google+
                option(value="normal") normal
              span(ng-if="vm.action=='view'") : {{vm.customer.loginType}}
          .col-lg-3.col-md-6
            .form-group
                label Address
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.customer.address", placeholder="Customer Address")
                span(ng-if="vm.action=='view'") : {{vm.customer.address}}
            .form-group
                label Pin Code
                input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.customer.pinCode", placeholder="Customer Pin Code")
                span(ng-if="vm.action=='view'") : {{vm.customer.pinCode}}
        .row
          .col-sm-12
            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
              span(ng-hide="vm.saving")
                i.fa.fa-save
                | &nbsp;Save
              span.uploading(ng-show="vm.saving")
                span(us-spinner="{radius:3, width:1, length: 5}")
                span.btn-msg Saving..
            | &nbsp
            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.customers-edit({id:vm.customer.id})")
              i.icon-pencil
              | &nbsp;Edit
            | &nbsp
            a.btn.btn-default(ui-sref="app.customers")
              i.icon-arrow-left
              | &nbsp;Back to list


