mixin dropdown_split(type)
    .btn-group(dropdown='dropdown')
        a.btn(type='button', ui-sref="app.#{type}s-edit({id:#{type}.id})", class="btn-default")
            i.icon-pencil
            | &nbsp Edit
        button.btn.dropdown-toggle(type='button', class="btn-default", dropdown-toggle="")
            span.caret
        ul.dropdown-menu(role='menu')
            li
                a(ui-sref="app.#{type}s-view({id:#{type}.id})")
                    i.icon-magnifier
                    | &nbsp View
            li
                a(href="javascript:void(0)", ng-click="vm.delete(#{type}.id)")
                    i.icon-trash
                    | &nbsp Delete

mixin textFormGroup(label, value, required)
    .form-group
        label #{label}
        input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-required="#{required}", ng-model="#{value}", placeholder="#{label}")
        span(ng-if="vm.action=='view'") : {{#{value}}}

mixin headerFilter(placeholder)
    th
        input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='#{placeholder}')

mixin emailFormGroup(label, value, required)
    .form-group
        label #{label}
        input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="email", data-parsley-required="#{required}", ng-model="#{value}", placeholder="#{label}")
        span(ng-if="vm.action=='view'") : {{#{value}}}

mixin numberFormGroup(label, value, required)
    .form-group
        label #{label}
        input.form-control(ng-if="vm.action == 'upsert'", data-parsley-required="#{required}", data-parsley-type="number", type="text", ng-model="#{value}", placeholder="#{label}")
        span(ng-if="vm.action=='view'") : {{#{value}}}

mixin checkBox(label, value, required)
    .form-group
        .checkbox.c-checkbox
            label
                input(type='checkbox', data-parsley-required="#{required}", ng-disabled="vm.action=='view'", ng-model="#{value}")
                span.fa.fa-check
                |  #{label}

mixin textAreaFormGroup(label, value, required)
    .form-group
        label #{label}
        textarea.form-control(ng-if="vm.action == 'upsert'", data-parsley-required="#{required}", type="text", ng-model="#{value}", placeholder="#{label}")
        span(ng-if="vm.action=='view'") : {{#{value}}}

mixin timeInput(label, value, required)
    .form-group
        label #{label}
        input.form-control(ng-if="vm.action == 'upsert'", data-parsley-required="#{required}", masked="", data-inputmask="'mask': '99:99'", type="text", ng-model="#{value}",  placeholder="#{label}")
        span(ng-if="vm.action=='view'") : {{#{value}}}

mixin toolbar(type, bulkUpload)
    .panel-heading
        .row
            .col-md-6
                .toolbar
                    a.btn.btn-default(ui-sref="app.#{type}s-new")
                        i.icon-plus
                        | &nbsp;Add new

                    if bulkUpload
                        .btn.file-input-wrap.btn-default
                            input.upload-select(type='file', name="upfile")
                            span(ng-hide="vm.uploading")
                                i.icon-cloud-upload
                                | &nbsp; Bulk upload
                            span.uploading(ng-show="vm.uploading")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Uploading..

            .col-md-6
                .search-box
                    form.form-horizontal
                        .form-group
                            label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                            .col-sm-8
                                input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

mixin imageUpload(type)
    .row(nv-file-drop, uploader="vm.uploader", ng-if="!vm.noFiles")
        .col-md-3(ng-hide="vm.action=='view'", style="margin-bottom:20px")
            h3 #{type} Images
            div(ng-show='vm.uploader.isHTML5')
                .box-placeholder.my-drop-zone(nv-file-drop, over-class="bg-info", uploader="vm.uploader", nv-file-over='another-file-over-class')
                    | Drop Files Here
            input#filestyle-0.form-control(type='file', data-button-text='Multiple', data-class-button='btn btn-default', data-class-input='form-control inline', nv-file-select='', uploader='vm.uploader', multiple='', tabindex='-1', style='position: absolute; clip: rect(0px 0px 0px 0px);')
            .bootstrap-filestyle.input-group
                input.form-control(type='text', disabled='')
                span.group-span-filestyle.input-group-btn(tabindex='0')
                    label.btn.btn-default(for='filestyle-0')
                        span.fa.fa-folder-open
                        |  Select Files
        .col-md-9(style='margin-bottom: 40px', ng-hide="vm.action=='view' || vm.uploader.queue.length === 0")
            h3 Upload queue
            p Queue length: {{ vm.uploader.queue.length }}
            table.table
                thead
                    tr
                        th(width='50%') Name
                        th(ng-show='vm.uploader.isHTML5') Size
                        th(ng-show='vm.uploader.isHTML5') Progress
                        th Status
                        th Actions
                tbody
                    tr(ng-repeat='item in vm.uploader.queue')
                        td
                            strong {{ item.file.name }}
                        td(ng-show='vm.uploader.isHTML5', nowrap='')
                            | {{item.file.size/1024/1024|number:2 }} MB
                        td(ng-show='vm.uploader.isHTML5')
                            .progress(style='margin-bottom: 0;')
                                .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                        td.text-center
                            span(ng-show='item.isSuccess')
                                i.fa.fa-check
                            span(ng-show='item.isCancel')
                                i.fa.icon-close
                            span(ng-show='item.isError')
                                i.fa.fa-trash
                        td(nowrap='')
                            button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                span.icon-cloud-upload &nbsp;
                                |               Upload
                            button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                                span.fa.icon-close &nbsp;
                                |               Cancel
                            button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                                span.fa.fa-trash &nbsp;
                                |               Remove
            div
                p
                    | Queue progress:
                    .progress(style='')
                        .progress-bar(role='progressbar', ng-style="{ 'width': vm.uploader.progress + '%' }")
                button.btn.btn-success(type='button', ng-click='vm.uploader.uploadAll()', ng-disabled='!vm.uploader.getNotUploadedItems().length')
                    span.icon-cloud-upload &nbsp;
                    |  Upload all
                button.btn.btn-warning.btn-s(type='button', ng-click='vm.uploader.cancelAll()', ng-disabled='!vm.uploader.isUploading')
                    span.fa.icon-close &nbsp;
                    |  Cancel all
                button.btn.btn-danger.btn-s(type='button', ng-click='vm.uploader.clearQueue()', ng-disabled='!vm.uploader.queue.length')
                    span.icon-trash &nbsp;
                    |  Remove all
        .col-md-12(ng-show="vm.files.length")
            h3 Uploaded Images
        .col-md-5(style='margin-bottom: 40px')
            table.table
                tbody
                    tr(ng-repeat='file in vm.files.slice(0, vm.halfLength)')
                        td
                            a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                img(ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}", style="max-width:50px;")
                        td
                            a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                strong
                                    | {{file.name}}
                        td
                        td(ng-hide="vm.action=='view'")
                            button.btn.btn-danger.btn-xs(type='button', ng-click='vm.deleteFile($index, file.name)', title='Delete the file')
                                span.icon-trash &nbsp;
                                |               Remove
        .col-md-5(style='margin-bottom: 40px')
            table.table
                tbody
                    tr(ng-repeat='file in vm.files.slice(vm.halfLength)')
                        td
                            a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                img(ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}", style="max-width:50px;")
                        td
                            a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                strong
                                    | {{file.name}}
                        td
                        td(ng-hide="vm.action=='view'")
                            button.btn.btn-danger.btn-xs(type='button', ng-click='vm.deleteFile($index, file.name)', title='Delete the file')
                                span.icon-trash &nbsp;
                                |               Remove
