include helpers.jade
h3 Hotels List
    small search and filter hotels
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('hotel', true)
            .panel-body
                table.hotels-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Mobile
                            th Station code
                            th Added on
                            th Updated on
                            th Actions
                    thead.filters
                        tr
                            +headerFilter('Filter hotel name')
                            +headerFilter('Filter mobile')
                            +headerFilter('Filter station code')
                            +headerFilter('Filter added on')
                            +headerFilter('Filter updated on')
                    tbody
                        tr(ng-repeat="hotel in vm.hotels", ng-class="hotel.id")
                            td {{hotel.name}}
                            td {{hotel.mobileNo}}
                            td {{hotel.stationCode}}
                            td {{hotel.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{hotel.updatedOn | date:'MM/dd/yy h:mma'}}
                            td(style="min-width:100px")
                                +dropdown_split('hotel')
