include helpers.jade
h3 Hotel Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a hotel
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.hotelForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        +textFormGroup('Hotel Name', 'vm.hotel.name', true)
                        +numberFormGroup('Mobile #', 'vm.hotel.mobileNo', false)
                        +emailFormGroup('Email', 'vm.hotel.email', false)
                        .form-group
                            label Station
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.hotel.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.hotel.stationCode}}
                        +numberFormGroup('Distance from station', 'vm.hotel.distanceFromStation', false)
                    .col-lg-3.col-md-6
                        +textAreaFormGroup('Text','vm.hote.text', false)
                        +numberFormGroup('Avg cost per day', 'vm.hotel.avgCostPerDay', false)
                        .form-group
                            label Hotel category
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.hotel.hotelCategory")
                                option(value="") Select category
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.hotel.hotelCategory}}
                        +checkBox('24 hours chek in', 'vm.hotel.24HoursCheckIn', false)

                +imageUpload('Hotel')

                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.hotels-edit({id:vm.hotel.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.hotels")
                            i.icon-arrow-left
                            | &nbsp;Back to list
