include helpers.jade
h3 Item Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a item
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.itemForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        .form-group
                            label Restaurant
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="restaurant.id as restaurant.name for restaurant in vm.restaurants", ng-model="vm.item.restaurantId")
                                option(value="") Select restaurant
                            span(ng-if="vm.action=='view'") : {{vm.item.restaurant.name}}

                        .form-group
                            label Category
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="category.id as category.name for category in vm.categories", ng-model="vm.item.categoryId")
                                option(value="") Select category
                            span(ng-if="vm.action=='view'") : {{vm.item.category.name}}

                        .form-group
                            label Subcategory
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="subCategory.id as subCategory.name for subCategory in vm.subCategories", ng-model="vm.item.subCategoryId")
                                option(value="") Select Subcategory
                            span(ng-if="vm.action=='view'") : {{vm.item.subCategory.name}}

                        +textFormGroup('Menu Item', 'vm.item.menuItem', true)
                        +numberFormGroup('List Price', 'vm.item.listPrice', true)

                    .col-lg-3.col-md-6

                        +timeInput('Morning Opening Time', 'vm.item.morningAvailabilityOpenTime', true)
                        +timeInput('Morning Closing Time', 'vm.item.morningAvailabilityCloseTime', true)
                        +timeInput('Evening Opening Time', 'vm.item.eveningAvailabilityOpenTime', true)
                        +timeInput('Evening Closing Time', 'vm.item.eveningAvailabilityCloseTime', true)
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.items-edit({id:vm.item.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.items")
                            i.icon-arrow-left
                            | &nbsp;Back to list
