include helpers.jade
h3 Items List
    small search and filter items
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('item', true)
            .panel-body
                table.items-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Restaurant name
                            th Category
                            th Sub Category
                            th Menu Item
                            th List Price
                            th Morning open time
                            th Morning close time
                            th Evening open time
                            th Evening close time
                            th Actions
                    thead.filters
                        tr
                            +headerFilter('Filter restaurant name')
                            +headerFilter('Filter category')
                            +headerFilter('Filter sub-category')
                            +headerFilter('Filter menu item')
                            +headerFilter('Filter list price')
                            +headerFilter('Filter M. open time')
                            +headerFilter('Filter M. close time')
                            +headerFilter('Filter E. open time')
                            +headerFilter('Filter E. close time')
                    tbody
                        tr(ng-repeat="item in vm.items", ng-class="item.id")
                            td {{item.restaurant.name}}
                            td {{item.category.name}}
                            td {{item.subcategory.name}}
                            td {{item.menuItem}}
                            td {{item.listPrice}}
                            td {{item.morningAvailabilityOpenTime}}
                            td {{item.morningAvailabilityCloseTime}}
                            td {{item.eveningAvailabilityOpenTime}}
                            td {{item.eveningAvailabilityCloseTime}}
                            td(style="min-width:100px")
                                +dropdown_split('item')
