include helpers.jade
h3 Orders List
    small search and filter orders
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('order')
            .panel-body
                table.orders-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Customer
                            th Restaurant
                            th Station
                            th Date
                            th Total amount
                            th Status
                            th Actions
                    thead.filters
                        tr
                            +headerFilter('Filter customer name')
                            +headerFilter('Filter restaurant name')
                            +headerFilter('Filter station code')
                            +headerFilter('Filter date')
                            +headerFilter('Filter total amount')
                            +headerFilter('Filter status')
                    tbody
                        tr(ng-repeat="order in vm.orders", ng-class="order.id")
                            td {{order.customer.name}}
                            td {{order.restaurant.name}}
                            td {{order.stationCode}}
                            td {{order.date | date:'MM/dd/yy h:mma'}}
                            td {{order.totalAmount}}
                            td {{order.status}}
                            td(style="min-width:100px")
                                +dropdown_split('order')
