h3 PNR Form
  small(ng-if="vm.action == 'upsert'") Fill the form and save a pnr
.row
  .col-lg-12
    .panel.panel-default
      form(name="vm.pnrForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
        .row
          .col-lg-3.col-md-6

            .form-group
              label SNo
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.pnr.sNo", placeholder="PNR SNo")
              span(ng-if="vm.action=='view'") : {{vm.pnr.sNo}}

            .form-group
              label PNR
              input.form-control(ng-if="vm.action == 'upsert'", type="text", required, ng-model="vm.pnr.pnr", placeholder="PNR ")
              span(ng-if="vm.action=='view'") : {{vm.pnr.pnr}}

            .form-group
              label Customer
              select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="customer.id as customer.name for customer in vm.customers", ng-model="vm.customerId")
                option(value="") Select customer
              span(ng-if="vm.action=='view'") : {{vm.pnr.customer ? vm.pnr.customer.name : ''}}

            .form-group
              label Train
              select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="train.number as train.number for train in vm.trains", ng-model="vm.pnr.trainNumber")
                option(value="") Select train
              span(ng-if="vm.action=='view'") : {{vm.pnr.trainNumber}}

            .form-group
              label Starting station
              select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.id as station.code for station in vm.stations", ng-model="vm.startStationId")
                option(value="") Select station
              span(ng-if="vm.action=='view'") : {{vm.pnr.startingStation ? vm.pnr.startingStation.name : ''}}

          .col-lg-3.col-md-6

            .form-group
              label On PNR Start time
              input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99:99'", type="text", ng-model="vm.pnr.onPnrStartTime",
                placeholder="On PNR Start time")
              span(ng-if="vm.action=='view'") : {{vm.pnr.onPnrStartTime}}

            .form-group
              label Start time
              input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99:99'", type="text", ng-model="vm.pnr.startTime",
                placeholder="Start time")
              span(ng-if="vm.action=='view'") : {{vm.pnr.startTime}}

            .form-group
              label Start Date (mm/dd/yyy)
              input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99/99/9999'", type="text", ng-model="vm.pnr.startDate",
                placeholder="Start Date")
              span(ng-if="vm.action=='view'") : {{vm.pnr.startDate}}

            .form-group
              label Start Platform No
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.pnr.startPlatformNo", placeholder="Start Platform No")
              span(ng-if="vm.action=='view'") : {{vm.pnr.startPlatformNo}}

            .form-group
              label End station
              select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.id as station.code for station in vm.stations", ng-model="vm.endStationId")
                option(value="") Select station
              span(ng-if="vm.action=='view'") : {{vm.pnr.endStation ? vm.pnr.endStation.name : ''}}

          .col-lg-3.col-md-6

            .form-group
              label On PNR End time
              input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99:99'", type="text", ng-model="vm.pnr.onPnrEndTime",
                placeholder="On PNR End time")
              span(ng-if="vm.action=='view'") : {{vm.pnr.onPnrEndTime}}

            .form-group
              label End time
              input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99:99'", type="text", ng-model="vm.pnr.endTime",
                placeholder="End time")
              span(ng-if="vm.action=='view'") : {{vm.pnr.endTime}}

            .form-group
              label End Date (mm/dd/yyy)
              input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99/99/9999'", type="text", ng-model="vm.pnr.endDate",
                placeholder="End Date")
              span(ng-if="vm.action=='view'") : {{vm.pnr.endDate}}

            .form-group
              label End Platform No
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.pnr.endPlatformNo", placeholder="End Platform No")
              span(ng-if="vm.action=='view'") : {{vm.pnr.endPlatformNo}}

            .form-group
              label Booking Status
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.pnr.bookingStatus", placeholder="Booking status")
              span(ng-if="vm.action=='view'") : {{vm.pnr.bookingStatus}}

          .col-lg-3.col-md-6
            .form-group
              label Number of passengers
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number",required, ng-model="vm.pnr.passengersCount", placeholder="Number of passengers")
              span(ng-if="vm.action=='view'") : {{vm.pnr.passengersCount}}

            .form-group
              label Booking Class
              input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.pnr.bookingClass", placeholder="Booking Class")
              span(ng-if="vm.action=='view'") : {{vm.pnr.bookingClass}}

            .form-group
              label Booking Quota
              input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.pnr.bookingQuota", placeholder="Booking Quota")
              span(ng-if="vm.action=='view'") : {{vm.pnr.bookingQuota}}

            .form-group
              label Fare
              input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.pnr.fare", placeholder="Fare")
              span(ng-if="vm.action=='view'") : {{vm.pnr.fare}}

            .form-group
              label Current Booking Status
              input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.pnr.currentBookingStatus", placeholder="Current Booking status")
              span(ng-if="vm.action=='view'") : {{vm.pnr.currentBookingStatus}}

        .row
          .col-sm-12
            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
              span(ng-hide="vm.saving")
                i.fa.fa-save
                |&nbsp;Save
              span.uploading(ng-show="vm.saving")
                span(us-spinner="{radius:3, width:1, length: 5}")
                span.btn-msg Saving..

            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.pnrs-edit({id:vm.pnr.id})")
              i.icon-pencil
              |&nbsp;Edit
            | &nbsp;
            a.btn.btn-default(ui-sref="app.pnrs")
              i.icon-arrow-left
              |&nbsp;Back to list
