h3 PNRs List
    small search and filter pnrs

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:3, hwaccel: true, length: 13, color:'#fff'}")
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.pnrs-new")
                                i.icon-plus
                                | &nbsp;Add new

                            .btn.file-input-wrap.btn-default
                                input.upload-select(type='file', name="upfile")
                                span(ng-hide="vm.uploading")
                                    i.icon-cloud-upload
                                    | &nbsp; Bulk upload
                                span.uploading(ng-show="vm.uploading")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Uploading..
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.pnrs-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th SNo
                            th PNR
                            th Customer
                            th Train #
                            th Starting Station
                            th End Station
                            th # of Passengers
                            th Added On
                            th Updated On
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter SNo')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter PNR')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Customer')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Train #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Starting Station')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter End station')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Passengers count')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated On')
                            th

                    tbody
                        tr(ng-repeat="pnr in vm.pnrs", ng-class="pnr.id")
                            td {{pnr.sNo}}
                            td {{pnr.pnr}}
                            td {{pnr.customer.name}}
                            td {{pnr.trainNumber}}
                            td {{pnr.startingStation ? pnr.startingStation.name : ''}}
                            td {{pnr.endStation ? pnr.endStation.name : ''}}
                            td {{pnr.passengersCount}}
                            td {{pnr.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{pnr.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.pnrs-view({id:pnr.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                | &nbsp

                                a.btn.btn-default(ui-sref="app.pnrs-edit({id:pnr.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp

                                a.btn.btn-default(ng-click="vm.delete(pnr.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
