include helpers.jade
h3 Restaurants List
    small search and filter restaurants
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('restaurant', true)
            .panel-body
                table.restaurants-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Mobile #
                            th Email
                            th Station Code
                            th Morning open time
                            th Morning close time
                            th Evening open time
                            th Evening close time
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Mobile #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Email')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter M. open time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter M. close time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter E. open tywime')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter E. close time')
                    tbody
                        tr(ng-repeat="restaurant in vm.restaurants", ng-class="restaurant.id")
                            td {{restaurant.name}}
                            td {{restaurant.mobileNo}}
                            td {{restaurant.email}}
                            td {{restaurant.stationCode}}
                            td {{restaurant.morningOpeningTime}}
                            td {{restaurant.morningClosingTime}}
                            td {{restaurant.eveningOpeningTime}}
                            td {{restaurant.eveningClosingTime}}
                            td(style="min-width:170px")
                                +dropdown_split('restaurant')
                                | &nbsp;
                                a.btn(type='button', ui-sref="app.restaurants-items({restaurantId:restaurant.id})", class="btn-default")
                                    i.icon-list
                                    | &nbsp items
