include helpers.jade
h3 Restaurant Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a restaurant
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.restaurantForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        +textFormGroup('Name', 'vm.restaurant.name', true)
                        +textFormGroup('code', 'vm.restaurant.code', true)
                        +numberFormGroup('Mobile number', 'vm.restaurant.mobileNo', false)
                        +emailFormGroup('Email', 'vm.restaurant.email', false)
                        .form-group
                            label Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.restaurant.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.restaurant.stationCode}}
                    .col-lg-3.col-md-6
                        +numberFormGroup('Distance from station', 'vm.restaurant.distanceFromStation', false)
                        +numberFormGroup('Avg Price per Person', 'vm.restaurant.avgPricePerPerson', false)
                        +numberFormGroup('Minimum order amount', 'vm.restaurant.minOrderAmount', false)
                        +numberFormGroup('Delivery charges', 'vm.restaurant.deliveryCharges', false)
                        .form-group
                            label Rating
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.restaurant.rating")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.restaurant.rating}}

                    .col-lg-3.col-md-6

                        +timeInput('Morning Opening Time', 'vm.restaurant.morningOpeningTime', true)
                        +timeInput('Morning Closing Time', 'vm.restaurant.morningClosingTime', true)
                        +timeInput('Evening Opening Time', 'vm.restaurant.eveningOpeningTime', true)
                        +timeInput('Evening Closing Time', 'vm.restaurant.eveningClosingTime', true)
                        +numberFormGroup('Food type', 'vm.restaurant.foodType', false)
                    .col-lg-3.col-md-6
                        +textAreaFormGroup('Text','vm.restaurant.text', false)
                        +checkBox('Railway vendor', 'vm.restaurant.railwayVendor', false)
                        +checkBox('Jain food available', 'vm.restaurant.jainFoodAvailable', false)
                        +checkBox('Veg Items', 'vm.restaurant.vegItems', false)
                        +checkBox('Pizza', 'vm.restaurant.pizza', false)
                        +checkBox('North India', 'vm.restaurant.northIndia', false)
                        +checkBox('South India', 'vm.restaurant.southIndia', false)
                        +checkBox('Thali', 'vm.restaurant.thali', false)

                +imageUpload('Restaurant')

                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.restaurants-edit({id:vm.restaurant.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.restaurants")
                            i.icon-arrow-left
                            | &nbsp;Back to list
