h3 Stations List
    small search and filter stations

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.stations-new")
                                i.icon-plus
                                | &nbsp;Add new

                            .btn.file-input-wrap.btn-default
                                input.upload-select(type='file', name="upfile")
                                span(ng-hide="vm.uploading")
                                    i.icon-cloud-upload
                                    | &nbsp; Bulk upload
                                span.uploading(ng-show="vm.uploading")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Uploading..
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.stations-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th
                                | Code
                            th
                                | Name
                            th
                                | Category
                            th
                                | Latitude
                            th
                                | Longitude
                            th
                                | Added On
                            th
                                |   Updated On
                            th.actions Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Category')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Latitude')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Longitude')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated On')
                            th
                    tbody
                        tr(ng-repeat="station in vm.stations", ng-class="station.id")
                            td {{station.code}}
                            td {{station.name}}
                            td {{station.category.name}}
                            td {{station.latitude }}
                            td {{station.longitude }}
                            td {{station.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{station.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.stations-view({id:station.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                | &nbsp

                                a.btn.btn-default(ui-sref="app.stations-edit({id:station.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp

                                a.btn.btn-default(ng-click="vm.delete(station.id)")
                                    i.icon-trash
                                    | &nbsp;Delete

