h3 Station Category List
    small search and filter station categories

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.stationCategories-new")
                                i.icon-plus
                                | &nbsp;Add new
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.stationCategories-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Code
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
                            th
                    tbody
                        tr(ng-repeat="category in vm.stationCategories", ng-class="category.id")
                            td {{category.name}}
                            td {{category.code}}
                            td
                                a.btn.btn-default(ui-sref="app.stationCategories-edit({id:category.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp
                                a.btn.btn-default(ng-click="vm.delete(category.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
