h3 Station Category Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a Station Category
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.stationCategoryForm", data-parsley-trigger="blurr", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3
                        .form-group
                            label Name
                            input.form-control(ng-if="vm.action == 'upsert'", required, name="name", type="text", ng-model="vm.stationCategory.name", placeholder="stationCategory Name")
                            span(ng-if="vm.action=='view'") : {{vm.stationCategory.name}}
                        .form-group
                            label Code
                            input.form-control(ng-if="vm.action == 'upsert'", required, type="text", ng-model="vm.stationCategory.code", placeholder="stationCategory Code")
                            span(ng-if="vm.action=='view'") : {{vm.stationCategory.code}}
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..

                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.stationCategories-edit({id:vm.stationCategory.id})")
                            i.icon-pencil
                            | &nbsp;Edit

                        a.btn.btn-default(ui-sref="app.stationCategories")
                            i.icon-arrow-left
                            | &nbsp;Back to list


