h3 States List
    small search and filter states

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.states-new")
                                i.icon-plus
                                | &nbsp;Add new
                            .btn.file-input-wrap.btn-default
                                input.upload-select(type='file', name="upfile")
                                span(ng-hide="vm.uploading")
                                    i.icon-cloud-upload
                                    | &nbsp; Bulk upload
                                span.uploading(ng-show="vm.uploading")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Uploading..
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.states-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Code
                            th Country
                            th Added on
                            th Updated on
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Country')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added on')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated on')
                            th

                    tbody
                        tr(ng-repeat="state in vm.states", ng-class="state.id")
                            td {{state.name}}
                            td {{state.code}}
                            td {{state.country}}
                            td {{state.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{state.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.states-view({id:state.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                | &nbsp

                                a.btn.btn-default(ui-sref="app.states-edit({id:state.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp

                                a.btn.btn-default(ng-click="vm.delete(state.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
