h3 State Form
  small(ng-if="vm.action == 'upsert'") Fill the form and save a state
.row
  .col-lg-12
    .panel.panel-default
      form(name="vm.stateForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
        .row
          .col-lg-3
            .form-group
              label Name
              input.form-control(ng-if="vm.action == 'upsert'", required, name="name", type="text", ng-model="vm.state.name", placeholder="State Name")
              span(ng-if="vm.action=='view'") : {{vm.state.name}}
            .form-group
              label Code
              input.form-control(ng-if="vm.action == 'upsert'", required, type="text", ng-model="vm.state.code", placeholder="State Code")
              span(ng-if="vm.action=='view'") : {{vm.state.code}}
            .form-group
              label Country
              input.form-control(ng-if="vm.action == 'upsert'", type="text", required, ng-model="vm.state.country", placeholder="State Country")
              span(ng-if="vm.action=='view'") : {{vm.state.country}}
        .row
          .col-sm-12
            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
              span(ng-hide="vm.saving")
                i.fa.fa-save
                |&nbsp;Save
              span.uploading(ng-show="vm.saving")
                span(us-spinner="{radius:3, width:1, length: 5}")
                span.btn-msg Saving..

            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.states-edit({id:vm.state.id})")
              i.icon-pencil
              |&nbsp;Edit

            a.btn.btn-default(ui-sref="app.states")
              i.icon-arrow-left
              |&nbsp;Back to list


