h3 Station Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a station
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.stationForm", data-parsley-trigger="blurr", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        .form-group
                            label Code
                            input.form-control(ng-if="vm.action == 'upsert'", name="code", type="text", required, ng-model="vm.station.code", placeholder="Station Code")
                            span(ng-if="vm.action=='view'") : {{vm.station.code}}

                        .form-group
                            label Name
                            input.form-control(ng-if="vm.action == 'upsert'", name="name", type="text", required, ng-model="vm.station.name", placeholder="Station Name")
                            span(ng-if="vm.action=='view'") : {{vm.station.name}}

                        .form-group
                            label Category
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="c.id as c.name for c in vm.categories", ng-model="vm.categoryId")
                                option(value="") Select station category
                            span(ng-if="vm.action=='view'") : {{vm.station.category ? vm.station.category.name : ''}}

                        .form-group
                            label City
                            select.form-control(ng-if="vm.action == 'upsert'", ng-options="c.id as c.name for c in vm.cities", ng-model="vm.station.cityId")
                                option(value="") Select station city
                            span(ng-if="vm.action=='view'") : {{vm.station.city ? vm.station.city.name : ''}}

                        .form-group
                            label State
                            select.form-control(ng-if="vm.action == 'upsert'", ng-options="s.id as s.name for s in vm.states", ng-change="vm.stateChanged()", ng-model="vm.station.stateId")
                                option(value="") Select station State
                            span(ng-if="vm.action=='view'") : {{vm.station.state ? vm.station.state.name : ''}}

                        .form-group
                            label Longitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.station.longitude", placeholder="Station Longitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.longitude}}

                        .form-group
                            label Latitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.station.latitude", placeholder="Station latitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.latitude}}

                        .form-group
                            label Total Platforms
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.station.totalPlatforms", placeholder="Total platforms")
                            span(ng-if="vm.action=='view'") : {{vm.station.totalPlatforms}}



                    .col-lg-3.col-md-6
                        .form-group
                            label Train Halts
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.station.trainHalts", placeholder="Train Halts")
                            span(ng-if="vm.action=='view'") : {{vm.station.trainHalts}}

                        .form-group
                            label Network availability
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.station.networkAvailability")
                                option(value="") Select availability
                                option(value="2") Strong
                                option(value="1") Moderate
                                option(value="0") Poor
                            span(ng-if="vm.action=='view'") : {{vm.station.networkAvailability}}

                        .form-group
                            label Tea drinkable
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.station.teaDrinkable")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                            span(ng-if="vm.action=='view'") : {{vm.station.teaDrinkable}}

                        .form-group
                            label Snacks eatable
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.station.snacksEatable")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                            span(ng-if="vm.action=='view'") : {{vm.station.snacksEatable}}

                        .form-group
                            label Waiting hall condition
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.station.waitingHallCondition")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="-1") NA
                            span(ng-if="vm.action=='view'") : {{vm.station.waitingHallCondition}}


                        .form-group
                            label Retiring room
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.station.retiringRoom")
                                option(value="") Select option
                                option(value="0") AC
                                option(value="1") Non-AC
                                option(value="2") NA
                            span(ng-if="vm.action=='view'") : {{vm.station.retiringRoom}}

                        .form-group
                            label Retiring room fare
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.station.retiringRoomFare", placeholder="Retiring room fare     ")
                            span(ng-if="vm.action=='view'") : {{vm.station.retiringRoomFare}}

                        .form-group
                            label Accomodation standard
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.station.accomodationStandard")
                                option(value="") Select option
                                option(value="0") 0
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                            span(ng-if="vm.action=='view'") : {{vm.station.accomodationStandard}}


                    .col-lg-3.col-md-6
                        .form-group
                            label Nearest bar shop
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.nearestBarShop", placeholder="Nearest bar shop")
                            span(ng-if="vm.action=='view'") : {{vm.station.nearestBarShop}}
                        .form-group
                            label Bar shop latitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.barShopLat", placeholder="Bar shop latitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.barShopLat}}

                        .form-group
                            label Bar shop longitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.barShopLong", placeholder="Bar shop longitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.barShopLong}}

                        .form-group
                            label Nearest Bus Stop
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.nearestBusStop", placeholder="Nearest bar shop")
                            span(ng-if="vm.action=='view'") : {{vm.station.nearestBusStop}}

                        .form-group
                            label Bus Stop latitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.busStopLat", placeholder="Bus Stop latitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.busStopLat}}

                        .form-group
                            label Bus Stop longitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.busStopLong", placeholder="Bus Stop longitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.busStopLong}}

                        .form-group
                            label Nearest Airport
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.nearestAirport", placeholder="Nearest Airport")
                            span(ng-if="vm.action=='view'") : {{vm.station.nearestAirport}}

                        .form-group
                            label Airport latitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.airportLat", placeholder="Airport latitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.airportLat}}

                    .col-lg-3.col-md-6
                        .form-group
                            label Airport longitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.airportLong", placeholder="Airport longitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.airportLong}}

                        .form-group
                            label Nearest Doctor
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.nearestAirport", placeholder="Nearest Doctor")
                            span(ng-if="vm.action=='view'") : {{vm.station.nearestDoctor}}

                        .form-group
                            label Doctor latitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.doctorLat", placeholder="Doctor latitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.doctorLat}}

                        .form-group
                            label Doctor longitude
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.doctorLong", placeholder="Doctor longitude")
                            span(ng-if="vm.action=='view'") : {{vm.station.doctorLong}}

                        .form-group
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox', ng-model="vm.station.trainPandaDelivery")
                                    span.fa.fa-check
                                    |  Train Panda delivery

                        .form-group
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox', ng-model="vm.station.ATM")
                                    span.fa.fa-check
                                    | ATM

                        .form-group
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox', ng-model="vm.station.bookShop")
                                    span.fa.fa-check
                                    | Book Shop

                        .form-group
                            label Famous for / Default text
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.station.famousFor", placeholder="Famous for")
                            span(ng-if="vm.action=='view'") : {{vm.station.famousFor}}

                .row(nv-file-drop, uploader="vm.uploader", ng-if="!vm.noFiles")
                    .col-md-3(ng-hide="vm.action=='view'", style="margin-bottom:20px")
                        h3 Station Images
                        div(ng-show='vm.uploader.isHTML5')
                            .box-placeholder.my-drop-zone(nv-file-drop, over-class="bg-info", uploader="vm.uploader", nv-file-over='another-file-over-class')
                                | Drop Files Here

                        input#filestyle-0.form-control(type='file', data-button-text='Multiple', data-class-button='btn btn-default', data-class-input='form-control inline', nv-file-select='', uploader='vm.uploader', multiple='', tabindex='-1', style='position: absolute; clip: rect(0px 0px 0px 0px);')
                        .bootstrap-filestyle.input-group
                            input.form-control(type='text', disabled='')
                            span.group-span-filestyle.input-group-btn(tabindex='0')
                                label.btn.btn-default(for='filestyle-0')
                                    span.fa.fa-folder-open
                                    |  Select Files

                    .col-md-9(style='margin-bottom: 40px', ng-hide="vm.action=='view' || vm.uploader.queue.length === 0")
                        h3 Upload queue
                        p Queue length: {{ vm.uploader.queue.length }}
                        table.table
                            thead
                                tr
                                    th(width='50%') Name
                                    th(ng-show='vm.uploader.isHTML5') Size
                                    th(ng-show='vm.uploader.isHTML5') Progress
                                    th Status
                                    th Actions
                            tbody
                                tr(ng-repeat='item in vm.uploader.queue')
                                    td
                                        strong {{ item.file.name }}
                                    td(ng-show='vm.uploader.isHTML5', nowrap='')
                                        | {{item.file.size/1024/1024|number:2 }} MB
                                    td(ng-show='vm.uploader.isHTML5')
                                        .progress(style='margin-bottom: 0;')
                                            .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                                    td.text-center
                                        span(ng-show='item.isSuccess')
                                            i.fa.fa-check
                                        span(ng-show='item.isCancel')
                                            i.fa.icon-close
                                        span(ng-show='item.isError')
                                            i.fa.fa-trash
                                    td(nowrap='')
                                        button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                            span.icon-cloud-upload &nbsp;
                                            |               Upload
                                        button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                                            span.fa.icon-close &nbsp;
                                            |               Cancel
                                        button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                                            span.fa.fa-trash &nbsp;
                                            |               Remove
                        div
                            p
                                | Queue progress:
                                .progress(style='')
                                    .progress-bar(role='progressbar', ng-style="{ 'width': vm.uploader.progress + '%' }")
                            button.btn.btn-success(type='button', ng-click='vm.uploader.uploadAll()', ng-disabled='!vm.uploader.getNotUploadedItems().length')
                                span.icon-cloud-upload &nbsp;
                                |  Upload all
                            button.btn.btn-warning.btn-s(type='button', ng-click='vm.uploader.cancelAll()', ng-disabled='!vm.uploader.isUploading')
                                span.fa.icon-close &nbsp;
                                |  Cancel all
                            button.btn.btn-danger.btn-s(type='button', ng-click='vm.uploader.clearQueue()', ng-disabled='!vm.uploader.queue.length')
                                span.icon-trash &nbsp;
                                |  Remove all
                    .col-md-12(ng-show="vm.files.length")
                        h3 Uploaded Images
                    .col-md-5(style='margin-bottom: 40px')
                        table.table
                            tbody
                                tr(ng-repeat='file in vm.files.slice(0, vm.halfLength)')
                                    td
                                        a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                            img(ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}", style="max-width:50px;")
                                    td
                                        a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                            strong
                                                | {{file.name}}
                                    td
                                    td(ng-hide="vm.action=='view'")
                                        button.btn.btn-danger.btn-xs(type='button', ng-click='vm.deleteFile($index, file.name)', title='Delete the file')
                                            span.icon-trash &nbsp;
                                            |               Remove
                    .col-md-5(style='margin-bottom: 40px')
                        table.table
                            tbody
                                tr(ng-repeat='file in vm.files.slice(vm.halfLength)')
                                    td
                                        a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                            img(ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}", style="max-width:50px;")
                                    td
                                        a(href='/api/containers/{{vm.containerId}}/download/{{file.name}}', target="blank")
                                            strong
                                                | {{file.name}}
                                    td
                                    td(ng-hide="vm.action=='view'")
                                        button.btn.btn-danger.btn-xs(type='button', ng-click='vm.deleteFile($index, file.name)', title='Delete the file')
                                            span.icon-trash &nbsp;
                                            |               Remove
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..

                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.stations-edit({id:vm.station.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.stations")
                            i.icon-arrow-left
                            | &nbsp;Back to list


