include helpers.jade

h3  SubCategory List
    small search and filter  subCategories
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            +toolbar('subCategorie')
            .panel-body
                table.subCategories-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Code
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
                            th
                    tbody
                        tr(ng-repeat="subCategory in vm.subCategories", ng-class="subCategory.id")
                            td {{subCategory.name}}
                            td {{subCategory.code}}
                            td
                                a.btn.btn-default(ui-sref="app.subCategories-edit({id:subCategory.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp
                                a.btn.btn-default(ng-click="vm.delete(subCategory.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
