include helpers.jade
h3 Train Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a train
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.trainForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6

                        .form-group
                            label Number
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.train.number", placeholder="Train Number")
                            span(ng-if="vm.action=='view'") : {{vm.train.number}}

                        .form-group
                            label Name
                            input.form-control(ng-if="vm.action == 'upsert'", name="name", type="text", required, ng-model="vm.train.name", placeholder="Train Name")
                            span(ng-if="vm.action=='view'") : {{vm.train.name}}

                        .form-group
                            label Start Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required ng-options="station.code as station.code for station in vm.stations", ng-model="vm.train.startStationCode")
                                option(value="") Select station code
                            span(ng-if="vm.action=='view'") : {{vm.train.startStationCode}}

                        .form-group
                            label End Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required ng-options="station.code as station.code for station in vm.stations", ng-model="vm.train.endStationCode")
                                option(value="") Select station code
                            span(ng-if="vm.action=='view'") : {{vm.train.endStationCode}}

                        .form-group
                            label Route
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.route", placeholder="Route")
                            span(ng-if="vm.action=='view'") : {{vm.train.route}}

                        .form-group
                            label Total Run Distance
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.train.totalRunDistance", placeholder="Total Run Distance")
                            span(ng-if="vm.action=='view'") : {{vm.train.totalRunDistance}}

                        .form-group
                            label Total Run Time (in minutes)
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.train.totalRunTime", placeholder="Total Run Time")
                            span(ng-if="vm.action=='view'") : {{vm.train.totalRunTime}}

                        .form-group
                            label Halts / Stoppages
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.halts", placeholder="Train Halts")
                            span(ng-if="vm.action=='view'") : {{vm.train.halts}}

                    .col-lg-3.col-md-6

                        .form-group
                            label Avg delay time  (in minutes)
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.avgDelayTime", placeholder="Avg delay time")
                            span(ng-if="vm.action=='view'") : {{vm.train.avgDelayTime}}

                        .form-group
                            label Avg train speed
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.avgSpeed", placeholder="Avg train speed")
                            span(ng-if="vm.action=='view'") : {{vm.train.avgSpeed}}

                        .form-group
                            label Train Type
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.type", placeholder="Train Type")
                            span(ng-if="vm.action=='view'") : {{vm.train.type}}

                        .form-group
                            label Food Quality
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.foodQuality")
                                option(value="") Select food quality
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.foodQuality}}

                        .form-group
                            label Clean
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.clean")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.clean}}

                        .form-group
                            label Crowded
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.crowded")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.crowded}}

                        .form-group
                            label Delay
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.delay")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.delay}}
                        .form-group
                            label Tickets Availability
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.ticketsAvailability", placeholder="Tickets Availability")
                            span(ng-if="vm.action=='view'") : {{vm.train.ticketsAvailability}}

                    .col-lg-3.col-md-6
                        .form-group
                            label General Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.generalSeats", placeholder="Train General Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.generalSeats}}

                        .form-group
                            label Sleeper Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.sleeperSeats", placeholder="Train Sleeper Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.sleeperSeats}}

                        .form-group
                            label 3AC Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.3ACSeats", placeholder="3AC Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.3ACSeats}}

                        .form-group
                            label 2AC Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.2ACSeats", placeholder="2AC Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.2ACSeats}}

                        .form-group
                            label 1AC Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.1ACSeats", placeholder="1AC Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.1ACSeats}}

                        .form-group
                            label AC Sitting
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.ACSitting", placeholder="AC Sitting")
                            span(ng-if="vm.action=='view'") : {{vm.train.ACSitting}}

                        .form-group
                            label Non AC Sitting
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.nonACSitting", placeholder="Non AC Sitting")
                            span(ng-if="vm.action=='view'") : {{vm.train.nonACSitting}}
                    .col-lg-3.col-md-6
                        .form-group
                            label Brief Writeup
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.briefWireup", placeholder="Train Brief Writeup")
                            span(ng-if="vm.action=='view'") : {{vm.train.briefWireup}}

                        .form-group
                            label Precautions and Comments
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.precoutionsAndComments", placeholder="Precautions and Comments")
                            span(ng-if="vm.action=='view'") : {{vm.train.precoutionsAndComments}}

                        .form-group
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox',ng-disabled="vm.action=='view'" ng-model="vm.train.pantryCheck")
                                    span.fa.fa-check
                                    |  Pantry Check

                +imageUpload('Train')

                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..

                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.trains-edit({id:vm.train.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.trains")
                            i.icon-arrow-left
                            | &nbsp;Back to list

