include helpers.jade
h3 TrainRoute Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a trainRoute
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.trainRouteForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        +numberFormGroup('sNo', 'vm.trainRoute.sNo', true)

                        .form-group
                            label Station
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.trainRoute.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.trainRoute.stationCode}}

                        .form-group
                            label Train
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="train.number as train.number for train in vm.trains", ng-model="vm.trainRoute.trainNo")
                                option(value="") Select train
                            span(ng-if="vm.action=='view'") : {{vm.trainRoute.trainNo}}

                        +numberFormGroup('Sort Order Number', 'vm.trainRoute.sortOrderNumber', true)
                        +numberFormGroup('Platform #', 'vm.trainRoute.platformNo', false)
                        +numberFormGroup('Average delay', 'vm.trainRoute.averageDelay', false)

                    .col-lg-3.col-md-6

                        +timeInput('Halt Time','vm.trainRoute.haltTime', false)
                        +timeInput('Arrival Time','vm.trainRoute.arrivalTime', false)
                        +timeInput('Departure Time','vm.trainRoute.departureTime', false)
                        +numberFormGroup('Distance from Prev Station', 'vm.trainRoute.distanceFromPrevStation', false)
                        +numberFormGroup('Distance To Next Station', 'vm.trainRoute.distanceToNextStation', false)
                        +numberFormGroup('Time taken for next station', 'vm.trainRoute.timeTakenForNextStation', false)
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.trainRoutes-edit({id:vm.trainRoute.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.trainRoutes")
                            i.icon-arrow-left
                            | &nbsp;Back to list
