div(ng-controller="TrainRatingFormController as vm")
    h3 Train Rating Form
        small(ng-if="vm.action == 'upsert'") Fill the form and save a train rating
    .row
        .col-lg-12
            .panel.panel-default
                form(name="vm.trainRatingForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                    .row
                        .col-lg-3.col-md-6
                            .form-group
                                label PNR
                                select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="pnr.id as pnr.pnr for pnr in vm.pnrs", ng-model="vm.trainRating.pnr")
                                    option(value="") Select PNR
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.PNR.pnr}}
                            .form-group
                                label Trip
                                select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="trip.id as trip.name for trip in vm.trips", ng-model="vm.trainRating.tripId")
                                    option(value="") Select trip
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.trip.name}}
                            .form-group
                                label Train
                                select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="train.id as train.number for train in vm.trains", ng-model="vm.trainRating.trainId")
                                    option(value="") Select Train
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.train.number}}
                            .form-group
                                label Food Quality
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.foodQuality")
                                    option(value="") Select food quality
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.train.foodQuality}}

                        .col-lg-3.col-md-6

                            .form-group
                                label Clean
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.clean")
                                    option(value="") Select option
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.clean}}

                            .form-group
                                label Crowded
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.crowded")
                                    option(value="") Select option
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.crowded}}

                            .form-group
                                label Delay
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.delay")
                                    option(value="") Select option
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.delay}}
                    .row
                        .col-sm-12
                            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                                span(ng-hide="vm.saving")
                                    i.fa.fa-save
                                    | &nbsp;Save
                                span.uploading(ng-show="vm.saving")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Saving..
                            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.trainRatings-edit({id:vm.trainRating.id})")
                                i.icon-pencil
                                | &nbsp;Edit
                            | &nbsp;
                            a.btn.btn-default(ui-sref="app.trainRatings")
                                i.icon-arrow-left
                                | &nbsp;Back to list
