include helpers.jade
h3 TrainRoutes List
    small search and filter trainRoutes
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('trainRoute', true)
            .panel-body
                table.trainRoutes-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th SNo
                            th Train #
                            th Station Code
                            th Sort order number
                            th Platform #
                            th Average delay
                            th Halt Time
                            th Arrival Time
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter SNo')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Train #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Sort order number')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Platform #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Average delay')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Halt Time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Arrival Time')
                    tbody
                        tr(ng-repeat="trainRoute in vm.trainRoutes", ng-class="trainRoute.id")
                            td {{trainRoute.sNo}}
                            td {{trainRoute.trainNo}}
                            td {{trainRoute.stationCode}}
                            td {{trainRoute.sortOrderNumber}}
                            td {{trainRoute.platformNo}}
                            td {{trainRoute.haltTime}}
                            td {{trainRoute.averageDelay}}
                            td {{trainRoute.arrivalTime}}
                            td(style="min-width:170px")
                                +dropdown_split('trainRoute')
