mixin dropdown_split(type)
    // START button group
    .btn-group(dropdown='dropdown')
        a.btn(type='button', ui-sref="app.#{type}s-edit({id:#{type}.id})", class="btn-default")
            i.icon-pencil
            | &nbsp Edit
        button.btn.dropdown-toggle(type='button', class="btn-default", dropdown-toggle="")
            span.caret
        ul.dropdown-menu(role='menu')
            li
                a(ui-sref="app.#{type}s-view({id:#{type}.id})")
                    i.icon-magnifier
                    | &nbsp View
            li
                a(href="javascript:void(0)", ng-click="vm.delete(#{type}.id)")
                    i.icon-trash
                    | &nbsp Delete

h3 Train Rating List
    small search and filter trainRatings
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.trainRatings-new")
                                i.icon-plus
                                | &nbsp;Add new
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")
            .panel-body
                table.trainRatings-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th PNR
                            th Trip
                            th Train #
                            th Food Quality
                            th Clean
                            th Crowded
                            th Delay
                            th Added On
                            th Updated On
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter PNR')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Trip')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Train #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Food Quality')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Clean')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Crowded')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Delay')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated On')
                    tbody
                        tr(ng-repeat="trainRating in vm.trainRatings", ng-class="trainRating.id")
                            td {{trainRating.PNR.pnr}}
                            td {{trainRating.trip.name}}
                            td {{trainRating.train.number}}
                                td {{trainRating.foodQuality}}
                                td {{trainRating.clean}}
                                td {{trainRating.crowded}}
                                td {{trainRating.delay}}
                                td {{trainRating.addedOn | date:'MM/dd/yy h:mma'}}
                                td {{trainRating.updatedOn | date:'MM/dd/yy h:mma'}}
                                td(style="min-width:100px")
                                    +dropdown_split('trainRating')
                                //.btn-group(dropdown='dropdown')
                                //    button.btn.btn-default(type='button') View
                                //    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                //        span.caret
                                //        span.sr-only Toggle Dropdown
                                //    ul.dropdown-menu(role='menu')
                                //        li
                                //            a(href='#') Edit
                                //        li
                                //            a(href='#') Delete

                                //a.btn.btn-default(ui-sref="app.trainRatings-view({id:trainRating.id})")
                                //    i.icon-magnifier
                                //    | &nbsp;View
                                //| &nbsp;
                                //a.btn.btn-default(ui-sref="app.trainRatings-edit({id:trainRating.id})")
                                //    i.icon-pencil
                                //    | &nbsp;Edit
                                //| &nbsp;
                                //a.btn.btn-default(ng-click="vm.delete(trainRating.id)")
                                //    i.icon-trash
                                //    | &nbsp;Delete
