h3 Trips List
    small search and filter trips

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.trips-new")
                                i.icon-plus
                                | &nbsp;Add new
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.trips-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th PNR
                            th Customer
                            th Rating
                            th Added On
                            th Updated On
                            th Actions

                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter PNR')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Customer')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Rating')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated On')
                    tbody
                        tr(ng-repeat="trip in vm.trips", ng-class="trip.id")
                            td {{trip.name}}
                            td {{trip.PNR.pnr}}
                            td {{trip.customer.name}}
                            td {{trip.rating}}
                            td {{trip.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{trip.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.trips-view({id:trip.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                |&nbsp;
                                a.btn.btn-default(ui-sref="app.trips-edit({id:trip.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                |&nbsp;
                                a.btn.btn-default(ng-click="vm.delete(trip.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
                                |&nbsp;
                                a.btn.btn-default(ng-click="vm.showAlarms(trip.id)")
                                    i.icon-clock
                                    | &nbsp;Alarms
