@import "quote-settings";
@import "new-quote-home";

/*******************/

// UTILITY CLASSES
/*******************/
body {
  overflow-y: scroll;
}

// Large Font Utility For Use With Icons
.large-font {
  font-size: 24px;
}

/******************/

// NEW QUOTES VIEW
/******************/

// Move the Plus Sign on New Quotes Page
// Align top right hand corner of well
span.icon-plus.pull-right.large-font {
  margin-top: -18px;
  margin-right: -18px;
}

// Adds a transition to the New Quote divs
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.01);
}

// Limit height for consisten alignment
// of new quote widgets across different screen sizes
.start-new-quote {
  max-height: 167px;
  height: 167px;
}

.content-wrapper {
  // overflow-y: scroll;
}

.btn {
  [us-spinner] {
    position: relative;
    padding-left: 15px;
    display: inline-block;
    .spinner {
      left: 2px !important;
      top: -4px !important;
    }
  }
}

.uk-notify {
  top: 60px;
  text-align: center;
  .alert-success {
    background-color: #37bc9b;
  }
}

.topnavbar .navbar-header .brand-logo {
  h2 {
    color: #e1e2e3;
    margin-top: 5px;
    font-size: 24px;
    padding-right: 10px;
  }
}

table.dataTable thead {
  &.filters {
    th {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  th {
    padding-right: 20px;
    padding-bottom: 5px;
    .head {
      display: inline-block;
      width: 100%;
    }
    &:first-child {
      width: auto !important;
    }
  }
}

th .form-control.datatable_input_col_search {
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  transition: all 0.2s;
  &:focus {
    border-bottom: 1px solid #999999;
  }
}

.user-block {
  padding-top: 5px;
}

.file-input-wrap {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  .upload-select {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    font-size: 500px
  }
}
