.new-quote-home {
    .upload {
        margin-top: 20px;
    }
    .panel-body {
        padding-top: 0;
    }
    .headers-map {
        .step-header {
            text-align: center;
        }
        .subheader {
            font-size: 16px;
        }
        .form {
            margin-top: 20px;
        }
        .equals {
            line-height: 35px;
            width: 2.3333%;
        }
    }
    .parse-error {
        .message {
            color: red;
            display: inline-block;
        }
    }
}
