.quote-settings {
    .navigation {
        .btn {
            .fa-home {
                font-size: 17px;
            }
            &.current {
                background-color: #f5f5f5;
            }
            .menu-title {
                padding-left: 5px;
                display: inline-block;
            }
        }
    }
    .setting-content {
        padding: 0;
        border: none;
        .agency-settings {
            .save {
                margin-right: 15px;
                &.top {
                    position: absolute;
                    right: 27px;
                    z-index: 10;
                }
            }
            label {
                line-height: 35px;
            }
            .new-agency {
                position: absolute;
                right: 15px;
            }
        }
        .home-settings {
            position: relative;
            .save {
                position: absolute;
                right: 15px;
            }
        }
        .well {
            margin-bottom: 0;
        }
    }
}
.quote-engine-menu {
    .fa {
        font-size: 1.2em;
    }
    .label-green {
        padding: 5px 8px;
    }
}
.jobs {
    .col-xs-6 {
        padding-left: 0;
        padding-right: 0;
    }
    .panel-heading {
        padding-top: 20px;
    }
    &.completed {
        .form-group {
            margin-bottom: 0;
        }
    }
    .panel-body {
        padding-top: 0;
        .search-box {
            // max-width: 00px;
            margin-left: 25px;
        }
        .table {
            margin-top: 0 !important;
            th {
                padding-top: 0;
            }
            tr {
                position: relative;
                .row-overlay {
                    position: absolute;
                    width: 100%;
                }
            }
            .checkbox-td {
                position: relative;
                .checkbox input[type="checkbox"] {
                    display: none;
                }
            }
        }
        .toolbar {
            .btn {
                position: relative;
            }
            .exporting {
                .spinner {
                    left: 20px !important;
                }
                .btn-msg {
                    padding-left: 18px;
                }
            }
        }
    }
}
.toolbar {
    margin-bottom: 9px;
    .btn {
        font-size: 14px;
    }
}
.actions-container {
    position: relative;
    display: inline-block;
    height: 27px;
    width: 130px;
    .spinner {
        left: -45px;
        top: 16px;
    }
    .animate-if {
        position: absolute;
        width: 100%;
    }
    .message {
        position: absolute;
        left: 33px;
        top: 7px;
        font-size: 12px;
    }
}
.intrash {
    position: absolute;
    height: 33px;
    line-height: 33px;
    padding-left: 3px;
    display: inline-block;
    border-radius: 18px;
    width: 185px;
    color: #F77600;
    .undo {
        position: absolute;
        right: 0;
    }
}
.no-pr {
    padding-right: 0;
}
.no-pl {
    padding-left: 0;
}
.spinner {
    z-index: 900 !important;
}
.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}
.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
}
.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.animate-if.ng-enter {
    transition-delay: 0.05s;
}
.ui-view-container {
    position: relative;
    width: 100%;
    [ui-view] {
        width: 100%;
        // position: absolute;
    }
}
.table > thead > tr > th {
    color: #5C5C5C;
}
[ui-view].animated.ng-enter, [ui-view].animated.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
[ui-view].animated.ng-enter {
    opacity: 0;
//    -webkit-transform: translate3d(0, -70px, 0);
//    -moz-transform: translate3d(0, -70px, 0);
//    transform: translate3d(0, -70px, 0);
}
[ui-view].animated.ng-enter-active {
    opacity: 1;
//    -webkit-transform: translate3d(0, 0, 0);
//    -moz-transform: translate3d(0, 0, 0);
//    transform: translate3d(0, 0, 0);
}
[ui-view].animated.ng-leave {
    opacity: 1;
}
[ui-view].animated.ng-leave-active {
    opacity: 0;
}
